<configuration>

	<contextName>zenobase</contextName>

	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
	</appender>

	<logger name="com.zenobase" level="INFO"/>

	<appender name="Sentry" class="io.sentry.logback.SentryAppender">
		<minimumEventLevel>ERROR</minimumEventLevel>
		<minimumBreadcrumbLevel>INFO</minimumBreadcrumbLevel>
	</appender>

	<root level="WARN">
		<appender-ref ref="Console"/>
		<appender-ref ref="Sentry"/>
	</root>

</configuration>
