#{extends 'main.html' /}
#{set title:'Login' /}

<div class="container-fluid">

	#{if flash.error}
		<div class="alert alert-error">
			&{flash.error}
		</div>
	#{/if}
	#{if flash.success}
		<div class="alert alert-success">
			<p>&{flash.success}</p>
		</div>
	#{/if}

	#{form @authenticate(), class:'form-horizontal'}
	<form>
		<fieldset>
			<div class="control-group ${!errors.isEmpty() ? 'error' : ''}">
				<label class="control-label" for="username">&{'secure.username'}</label>
				<div id="username-field" class="controls">
					<input type="text" name="username" id="username" value="${flash.username}" />
				</div>
			</div>
			<div class="control-group ${!errors.isEmpty() ? 'error' : ''}">
				<label class="control-label" for="password">&{'secure.password'}</label>
				<div id="password-field" class="controls">
					<input type="password" name="password" id="password" value="" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="remember"></label>
				<div id="remember-field" class="controls">
					<label>
						<input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
						<span>&{'secure.remember'}</span>
					</label>
				</div>
				<div class="form-actions" id="signin-field">
					<input class="btn btn-primary" type="submit" id="signin" value="&{'secure.signin'}" />
				</div>
			</div>
		</fieldset>
	</form>
</div>
