.btn-group > button.zeno-paging {
	background-color: white;
	border: none;
}

.modal-form {
	margin: 0;
}

.nowrap {
	white-space: nowrap;
}

.ng-cloak {
	display: none;
}

abbr {
	text-transform: none;
}

.map-control {
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	border: 1px solid #717B87;
	padding: 1px 6px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px;
	box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#E6E6E6));
	color: black;
	line-height: 18px;
}

.none {	
	padding-left: 1em;
	padding-bottom: 1em;
	font-style: italic;
}

header {
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}

footer {
	margin-top: 18px;
	padding-bottom: 18px;
	color: #999;
}

.footer-link {
	color: #999;
	font-weight: bold;
}

.caret-inverted {
  display: inline-block;
  width: 0;
  height: 0;
  text-indent: -99999px;
  *text-indent: 0;
  vertical-align: top;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #000000;
  opacity: 0.3;
  filter: alpha(opacity=30);
  content: "\2191";
}

.caret-active {
  opacity: 1.0;
}

.close-tab {
	line-height: inherit;
	float: none;
}

a.sort {
	color: #333;
}

.table > tbody > tr:hover {
	background-color: #f8f8f8;
}

.action {
	visibility: hidden;
}

tr:hover > td > .action {
	visibility: visible;
}

.align-right {
	text-align: right;
}

.b {
	font-weight: bold; 
}

.hero-unit {
	margin-bottom: 0;
}

.control-group {
	margin-top: 9px;
}

input.ng-invalid.ng-dirty {
  color: #b94a48;
  border-color: #ee5f5b;
}

input.ng-invalid.ng-dirty:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
