.btn-group .zeno-paging {
	background-color:white;
	border:none;
}

.modal form {
	margin: 0;
}

.nowrap {
	white-space: nowrap;
}

.ng-cloak {
	display: none;
}

abbr {
	text-transform: none;
}

#map .control {
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	border: 1px solid #717B87;
	padding: 1px 6px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px;
	box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#E6E6E6));
	color: black;
	line-height: 18px;
}

.none {	
	padding-left: 1em;
	padding-bottom: 1em;
	font-style: italic;
}

header {
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}

footer {
	margin-top: 18px;
	padding-bottom: 9px;
	color: #999;
}

.caret-inverted {
  display: inline-block;
  width: 0;
  height: 0;
  text-indent: -99999px;
  *text-indent: 0;
  vertical-align: top;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #000000;
  opacity: 0.3;
  filter: alpha(opacity=30);
  content: "\2191";
}

.caret-active {
  opacity: 1.0;
}

.nav .close {
	line-height: inherit;
	float: none;
}

.table-unbordered td {
	border-style: none;
}

.table thead a {
	color: #333;
}

.table tbody tr:hover {
	background-color: #f8f8f8;
}

.action {
	visibility: hidden;
}

tr:hover .action {
	visibility: visible;
}

h3 i {
	margin-top: 3px;
}

.table-narrow {
	width: auto;
	max-width: none;
}

.table-narrow th, .table-narrow td {
	vertical-align: middle;
}

.align-right {
	text-align: right;
}

.top-row th, .top-row td {
	border-top: none;
}

.b {
	font-weight: bold; 
}

.hero-unit {
	margin-bottom: 0;
}

.control-group {
	margin-top: 9px;
}
