body {
	padding-top: 60px;
}

.btn-group .zeno-paging {
	background-color:white;
	border:none;
}

.modal form {
	margin: 0;
}

.nowrap {
	white-space: nowrap;
}

.ng-cloak {
	display: none;
}

abbr {
	text-transform: none;
}

.widget h4 {
	padding: 8px;
	border-bottom: 1px solid #DDD;
	margin-bottom: 8px;
}

#map .control {
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	border: 1px solid #717B87;
	padding: 1px 6px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px;
	box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#E6E6E6));
	color: black;
	line-height: 18px;
}

.none {	
	padding-left: 9px
}

footer {
	margin-top: 2em;
}

.caret-inverted {
  display: inline-block;
  width: 0;
  height: 0;
  text-indent: -99999px;
  *text-indent: 0;
  vertical-align: top;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #000000;
  opacity: 0.3;
  filter: alpha(opacity=30);
  content: "\2191";
}

.caret-active {
  opacity: 1.0;
}

.nav .close {
	line-height: inherit;
	float: none;
}

.table-unbordered td {
	border-style: none;
}
