<div class="container-fluid" data-ng-controller="BucketCtrl">

	<div class="alert alert-info" data-ng-show="total == 0">
		Click <i class="icon-plus"></i> below to start adding data.<br/> 
		Click <i class="icon-pencil"></i> below to edit the title and to add or remove widgets below. 
	</div>

	<div class="row-fluid" style="margin-bottom: 9px;">
		<h3 class="pull-left">{{bucket.label}}</h3>
		<p class="pull-left" style="margin-left: 9px; margin-top: 5px; vertical-align: middle">
			<span class="badge" title="Events" data-ng-class="total && 'badge-success' || 'badge-error'">{{total}}</span>
		</p>
		<p class="pull-left" style="margin-left: 8px; margin-top: 6px; vertical-align: middle">
			<a data-ng-click="refresh()" title="Refresh"><i class="icon-refresh"></i></a>
		</p>
		<p class="pull-left" style="margin-left: 8px; margin-top: 6px; vertical-align: middle">
			<a data-ng-click="edit()" title="Edit"><i class="icon-pencil"></i></a>
		</p>
		<p class="pull-left" style="margin-left: 8px; margin-top: 6px; vertical-align: middle">
			<a data-toggle="modal" href="#create-event-dialog"><i class="icon-plus" title="Add Event"></i></a>
		</p>
		<ul class="nav nav-pills" style="clear: both; margin-bottom:12px;" data-ng-show="filters">
			<li class="active" data-ng-repeat="filter in filters">
				<a data-ng-click="removeFilter(filter)"><i class="icon-white" data-ng-class="getFilterIcon(filter)"></i> {{filter.value}} <i class="icon-remove icon-white"></i></a>
			</li>
		</ul>
	</div>

	<p data-ng-show="bucket.description" data-ng-bind-html="bucket.description" style="margin-bottom: 18px;"></p>

	<div class="alert alert-block alert-info" data-ng-controller="BucketFormCtrl" data-ng-show="editing">
		<a class="close" data-ng-click="cancel()">&times;</a>
		<h3 class="alert-heading">Edit</h3>
		<form name="dashboardForm">
			<fieldset>
				<div class="control-group">
					<label class="control-label" for="edit-label"><strong>Title</strong></label>
					<div class="controls">
						<input type="text" class="input-large" required data-ng-model="bucket.label">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="edit-description"><strong>Description</strong></label>
					<div class="controls">
						<textarea class="input-xxlarge" rows="3" data-ng-model="bucket.description"></textarea>
					</div>
				</div>
			</fieldset>
		</form>
		<p>
			<a data-ng-click="save()" class="btn btn-primary" data-ng-disabled="!dashboardForm.$valid">Save</a>
			<a data-ng-click="cancel()" class="btn">Cancel</a>
		</p>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<ul class="nav nav-tabs">
				<li data-ng-class="$index == 0 && 'active'" data-ng-repeat="settings in getWidgetSettings('top')">
					<a href="#{{settings.id}}" data-toggle="tab">{{settings.label}} <span class="close close-tab" title="Remove" data-ng-click="removeWidget(settings.id)" data-ng-show="editing">&times;</span></a>
				</li>
				<li data-ng-show="editing"><a data-ng-click="chooseWidget('top')" title="Add Widget..."><i class="icon-plus-sign"></i></a></li>
			</ul>
			<div class="tab-content">
				<div id="{{settings.id}}" class="tab-pane" data-ng-class="$index == 0 && 'active'" data-ng-repeat="settings in getWidgetSettings('top')" data-ng-include="getTemplate(settings.type)"></div>
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span6">
			<ul class="nav nav-tabs">
				<li data-ng-class="$index == 0 && 'active'" data-ng-repeat="settings in getWidgetSettings('left')">
					<a href="#{{settings.id}}" data-toggle="tab">{{settings.label}} <span class="close close-tab" title="Remove" data-ng-click="removeWidget(settings.id)" data-ng-show="editing">&times;</span></a>
				</li>
				<li data-ng-show="editing"><a data-ng-click="chooseWidget('left')" title="Add Widget..."><i class="icon-plus-sign"></i></a></li>
			</ul>
			<div class="tab-content">
				<div id="{{settings.id}}" class="tab-pane" data-ng-class="$index == 0 && 'active'" data-ng-repeat="settings in getWidgetSettings('left')" data-ng-include="getTemplate(settings.type)"></div>
			</div>
		</div>
		<div class="span6">
			<ul class="nav nav-tabs">
				<li data-ng-class="$index == 0 && 'active'" data-ng-repeat="settings in getWidgetSettings('right')">
					<a href="#{{settings.id}}" data-toggle="tab">{{settings.label}} <span class="close close-tab" title="Remove" data-ng-click="removeWidget(settings.id)" data-ng-show="editing">&times;</span></a>
				</li>
				<li data-ng-show="editing"><a data-ng-click="chooseWidget('right')" title="Add Widget..."><i class="icon-plus-sign"></i></a></li>
			</ul>
			<div class="tab-content">
				<div id="{{settings.id}}" class="tab-pane" data-ng-class="$index == 0 && 'active'" data-ng-repeat="settings in getWidgetSettings('right')" data-ng-include="getTemplate(settings.type)"></div>
			</div>
		</div>
	</div>

	<div id="add-widget-dialog" class="modal" data-ng-controller="AddWidgetCtrl" data-ng-show="placement">
		<form name="addWidgetForm" class="modal-form">
			<div class="modal-header">
				<a class="close" data-ng-click="cancel()">&times;</a>
				<h3>Add Widget</h3>
			</div>
			<div class="modal-body">
				<label for="template" class="control-label">Type</label>
				<div class="controls">
					<select name="template" data-ng-model="template" data-ng-options="t.label for t in findTemplates()" required></select>
					<p class="help-block">{{template.description}}</p>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-ng-click="add()" data-ng-disabled="!addWidgetForm.$valid">Add</button>
				<button class="btn" data-ng-click="cancel()">Cancel</button>
			</div>
		</form>
	</div>

	<div id="create-event-dialog" class="modal hide" data-ng-controller="TemplateCtrl">
		<form name="createEventForm" data-ng-submit="create()" class="modal-form">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h3>Add Event</h3>
			</div>
			<div class="modal-body">
				<label for="template">Template</label>
				<div class="input">
					<select name="template" data-ng-model="i" data-ng-change="content = getTemplate(i)">
						<option value="0"></option>
						<option value="1">Lunch</option>
						<option value="2">Sleep</option>
						<option value="3">Movie</option>
						<option value="4">Hike</option>
						<option value="5">(Random)</option>
					</select>
				</div>
				<fieldset class="control-group">
					<label for="label">Content</label>
					<div class="input">
						<textarea id="event-label-field" rows="10" class="span4" required data-ng-model="content"></textarea>
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary" data-ng-disabled="!createEventForm.$valid">Create</button>
				<button type="reset" class="btn" data-dismiss="modal">Cancel</button>
			</div>
		</form>
		<script>
			$('#create-event-dialog').on('shown', function () {
				$('#event-label-field').select();
			})
		</script>
	</div>

</div>
