<div class="container-fluid" data-ng-controller="ResetPasswordCtrl">

	<form name="resetPasswordForm" novalidate data-ng-submit="submit()">
		<div class="alert alert-error" data-ng-show="message">
			{{message}}
		</div>
		<div class="control-group">
			<label class="control-label" for="new-password">New Password (min 8 characters)</label>
			<div class="controls">
				<input id="new-password" type="password" class="large" autofocus required data-ng-minlength="8" data-ng-model="password"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="new-password-retyped">Retype Password</label>
			<div class="controls">
				<input id="new-password-retyped" type="password" class="large" required data-ng-minlength="8" data-ng-model="retypedPassword"/>
			</div>
		</div>
		<button type="submit" class="btn btn-primary" data-ng-disabled="!resetPasswordForm.$valid">Reset Password</button>
	</form>

</div>
