web:
  hostname: "http://localhost:5173"

api:
  hostname: "http://localhost:9000"

auth0:
  domain: "http://localhost:3000"
  jwks_domain: "http://localauth0:3000"
  audience: "https://api.zenobase.com"

jwt:
  secret: "local-dev-secret"

cors:
  allowed:
    origins:
      - "http://localhost:8080"
      - "http://localhost:5173"

fitbit:
  api:
    key: ""
    secret: ""

foursquare:
  api:
    key: ""
    secret: ""

garmin:
  api:
    key: ""
    secret: ""

goodreads:
  api:
    key: ""
    secret: ""

google:
  api:
    key: ""
    secret: ""
  service:
    key: ""

hexoskin:
  api:
    key: ""
    secret: ""

lastfm:
  api:
    key: ""
    secret: ""

mapmyfitness:
  api:
    key: ""
    secret: ""

netatmo:
  api:
    key: ""
    secret: ""

oura:
  api:
    key: ""
    secret: ""

rescuetime:
  api:
    key: ""
    secret: ""

strava:
  api:
    key: ""
    secret: ""

trakt:
  api:
    key: ""
    secret: ""

wakatime:
  api:
    key: ""
    secret: ""

withings:
  api:
    key: ""
    secret: ""
