<div id="{{settings.id}}-content" data-ng-controller="TermGanttCtrl">

	<table class="table" data-ng-show="terms">
		<thead>
			<tr>
				<th>Tag</th>
				<th style="text-align: right">Last</th>
				<th style="text-align: right">Freq</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="term in terms">
				<td><a href="javascript:" data-ng-click="filter(term)" data-ng-bind-html="term.label | field:settings.termField"></a></td>
				<td style="text-align: right"><abbr title="{{term.last}}">{{term.last | age}}</abbr></td>
				<td style="text-align: right">{{term.freq  | duration}}</td>
			</tr>
		</tbody>
	</table>

	<p data-ng-show="terms == null" class="none">Loading...</p>

	<p data-ng-show="terms.length == 0" class="none">None</p>

	<div class="btn-toolbar">
		<div class="btn-group" data-ng-show="editing">
			<button class="btn" title="Settings..." data-ng-click="showDialog(true)"><i class="icon-cog"></i></button>
		</div>
	</div>

	<div data-ui-modal="dialogShown" data-ui-modal-close="cancel()" data-ng-controller="TermGanttSettingsCtrl">
		<form name="form" class="modal-form">
			<div class="modal-header">
				<a class="close" href="javascript:" data-dismiss="modal">&times;</a>
				<h3>Term Date Ranges</h3>
			</div>
			<div class="modal-body">
				<div class="control-group">
					<label class="control-label" for="label">Title</label>
					<div class="controls">
						<input name="label" type="text" required min="1" max="20" data-ng-model="settings.label"/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="termField">Term Field</label>
					<div class="controls">
						<select name="termField" required data-ng-model="settings.termField" data-ng-options="field.name as field.name for field in getTermFields()"></select>
						<p class="help-block">The field on which to aggregate.</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-ng-click="save()" data-ng-disabled="!form.$valid">Update</button>
				<button class="btn" data-dismiss="modal">Cancel</button>
			</div>
		</form>
	</div>

</div>
