<div id="{{settings.id}}-content" data-ng-controller="RatingCountCtrl">

	<table class="table" data-ng-show="ratings">
		<thead>
			<tr>
				<th>Rating</th>
				<th style="text-align: right">Count</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="rating in ratings">
				<td>
					<a href="javascript:" data-ng-click="filter(rating)" data-ng-bind-html="rating.from | stars"></a>
				</td>
				<td style="text-align: right">{{rating.count | number }}</td>
			</tr>
			<tr data-ng-hide="ratings">
				<td colspan="2"><i>None</i></td>
			</tr>
		</tbody>
	</table>

	<p data-ng-show="ratings == null" class="none">Loading...</p>

	<p data-ng-show="ratings.length == 0" class="none">None</p>

	<div class="btn-toolbar">
		<div class="btn-group" data-ng-show="editing">
			<button class="btn" title="Settings..." data-ng-click="openDialog('histogram-widget-dialog')"><i class="icon-cog"></i> Settings...</button>
		</div>
	</div>

	<div data-ui-modal="dialog == 'histogram-widget-dialog'" data-ui-modal-open="init()" data-ui-modal-close="closeDialog()" data-ng-controller="WidgetSettingsCtrl">
		<form name="form" class="modal-form">
			<div class="modal-header">
				<a class="close" href="javascript:" data-dismiss="modal">&times;</a>
				<h4>Ratings Widget</h4>
			</div>
			<div class="modal-body">
				<div class="control-group">
					<label class="control-label" for="label">Title</label>
					<div class="controls">
						<input name="label" type="text" required min="1" max="20" data-ng-model="settings.label"/>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-ng-click="save()" data-ng-disabled="!form.$valid">Update</button>
				<button class="btn" data-dismiss="modal">Cancel</button>
			</div>
		</form>
	</div>

</div>
