<div id="{{settings.id}}-content" data-ng-controller="MapWidgetController">

	<div id="{{settings.id}}-map" style="height: 350px" data-ng-show="points"></div>

	<p data-ng-show="points == null" class="none">Loading...</p>

	<p data-ng-show="points.length == 0" class="none">None</p>

	<div class="btn-toolbar">
		<div class="btn-group" data-ng-show="editing">
			<button class="btn" title="Settings..." data-ng-click="openDialog(settings.id + '-dialog')"><i class="icon-cog"></i> Settings...</button>
		</div>
	</div>

	<div data-ui-modal="dialog == settings.id + '-dialog'" data-ui-modal-open="init()" data-ui-modal-close="closeDialog()" data-ng-controller="MapWidgetDialogController">
		<form name="form" class="modal-form">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h4>Map Widget</h4>
			</div>
			<div class="modal-body">
				<div class="control-group">
					<label class="control-label" for="label">Title</label>
					<div class="controls">
						<input name="label" type="text" required min="1" max="20" data-ng-model="settings.label"/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="unit">Color</label>
					<div class="controls">
						<select name="color" data-ng-model="settings.marker_color" data-ng-options="color for color in getColors()"></select>
						<p class="help-block">The cluster color.</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="factor">Factor</label>
					<div class="controls">
						<input name="factor" type="number" required min="0.0" max="1.0" step="0.1" data-ng-model="settings.factor"/>
						<p class="help-block">Controls the clustering, from 0.0 (show each point) to 1.0 (one big cluster).</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-ng-click="save()" data-ng-disabled="!form.$valid">Update</button>
				<button class="btn" data-dismiss="modal">Cancel</button>
			</div>
		</form>
	</div>

</div>
