<div id="{{settings.id}}-content" data-ng-controller="ScatterPlotWidgetController">

	<div id="{{settings.id}}-chart" data-ui-chart-options="chartOptions" data-ui-id="{{settings.id}}" data-ng-show="data"></div>
	<div id="{{settings.id}}-r-chart" data-ui-chart-options="rChartOptions" data-ui-id="{{settings.id}}" data-ng-show="data"></div>

	<p data-ng-show="data == null" class="none">Loading...</p>

	<p data-ng-show="data.length == 0" class="none">None</p>

	<div class="btn-toolbar">
		<div class="btn-group"></div>
	</div>

	<div data-ui-modal="settings.id + '-dialog'" data-ng-controller="ScatterPlotWidgetDialogController">
		<form name="form" class="modal-form">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h4>Scatter Plot Widget</h4>
			</div>
			<div class="modal-body">
				<div class="control-group">
					<label class="control-label" for="label">Title</label>
					<div class="controls">
						<input name="label" type="text" required min="1" max="20" data-ng-model="settings.label"/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="labelX">Label (x)</label>
					<div class="controls">
						<input name="labelX" type="text" data-ng-model="settings.label_x"/>
						<p class="help-block">Optional label for the x series.</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="fieldX">Field (x)</label>
					<div class="controls">
						<select name="fieldX" data-ng-model="settings.field_x" data-ng-options="field.name as field.name for field in getFields()"></select>
						<p class="help-block">The field for the x series.</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="unitX">Unit (x)</label>
					<div class="controls">
						<select name="unitX" data-ng-model="settings.unit_x" data-ng-options="unit for unit in getUnits(settings.field_x)"></select>
						<p class="help-block">The unit for the x series.</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="statisticX">Statistic (x)</label>
					<div class="controls">
						<select name="statisticX" required data-ng-model="settings.statistic_x" data-ng-options="value for value in getStatistics(settings.field)"></select>
						<p class="help-block">The aggregate function for the x series.</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="filterX">Filter (x)</label>
					<div class="controls">
						<input name="filterX" type="text" data-ng-model="settings.filter_x"/>
						<p class="help-block">Optional constraint for the x series.</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="labelY">Label (y)</label>
					<div class="controls">
						<input name="labelY" type="text" data-ng-model="settings.label_y"/>
						<p class="help-block">Optional label for the y series.</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="fieldY">Field (y)</label>
					<div class="controls">
						<select name="fieldY" data-ng-model="settings.field_y" data-ng-options="field.name as field.name for field in getFields()"></select>
						<p class="help-block">The field for the y series.</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="unitY">Unit (y)</label>
					<div class="controls">
						<select name="unitY" data-ng-model="settings.unit_y" data-ng-options="unit for unit in getUnits(settings.field_y)"></select>
						<p class="help-block">The unit for the y series.</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="statisticY">Statistic (y)</label>
					<div class="controls">
						<select name="statisticY" required data-ng-model="settings.statistic_y" data-ng-options="value for value in getStatistics(settings.field)"></select>
						<p class="help-block">The aggregate function for the y series.</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="filterY">Filter (y)</label>
					<div class="controls">
						<input name="filterY" type="text" data-ng-model="settings.filter_y"/>
						<p class="help-block">Optional constraint for the y series.</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="interval">Interval</label>
					<div class="controls">
						<select name="interval" data-ng-model="settings.interval" data-ng-options="interval.name as interval.name for interval in getIntervals()"></select>
						<p class="help-block">The interval at which values are aggregated.</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="lag">Lag</label>
					<div class="controls">
						<input name="lag" type="number" data-ng-model="settings.lag"/>
						<p class="help-block">The number of time units (see <i>interval</i>) by which to offset the y series values from the x series values.</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="regression">Regression</label>
					<div class="controls">
						<select name="regression" data-ng-model="settings.regression" data-ng-options="method for method in regressionMethods">
							<option value=""></option>
						</select>
						<p class="help-block">Optional method for drawing a regression line.</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger pull-left" data-ng-click="removeWidget(settings)" data-dismiss="modal">Remove</button>
				<button class="btn btn-primary" data-ng-click="save()" data-ng-disabled="!form.$valid || !valid()">Update</button>
				<button class="btn" data-dismiss="modal">Cancel</button>
			</div>
		</form>
	</div>

</div>
