<div id="{{settings.id}}-content" data-ng-controller="ScoreboardWidgetController">

	<table class="table" data-ng-show="terms">
		<thead>
			<tr>
				<th style="text-transform: capitalize">{{settings.key_field}}</th>
				<th style="text-align: right">Count</th>
				<th style="text-align: right">Min</th>
				<th style="text-align: right">Max</th>
				<th style="text-align: right">Sum</th>
				<th style="text-align: right">Avg</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="term in terms">
				<td><a data-ng-click="filter(term)" data-ng-bind-html="term.label | field:settings.key_field"></a></td>
				<td style="text-align: right" data-ng-bind-html="term.count | number"></td>
				<td style="text-align: right" data-ng-bind-html="term.min | field:settings.value_field"></td>
				<td style="text-align: right" data-ng-bind-html="term.max | field:settings.value_field"></td>
				<td style="text-align: right" data-ng-bind-html="term.sum | field:settings.value_field"></td>
				<td style="text-align: right" data-ng-bind-html="term.avg | field:settings.value_field"></td>
			</tr>
			<tr data-ng-hide="terms">
				<td colspan="6"><i>None</i></td>
			</tr>
		</tbody>
	</table>

	<p data-ng-show="terms == null" class="none">Loading...</p>

	<p data-ng-show="terms.length == 0" class="none">None</p>

	<div class="btn-toolbar">
		<div class="btn-group" data-ng-show="editing">
			<button class="btn" title="Settings..." data-ng-click="openDialog(settings.id + '-dialog')"><i class="icon-cog"></i> Settings...</button>
		</div>
	</div>

	<div data-ui-modal="dialog == settings.id + '-dialog'" data-ui-modal-open="init()" data-ui-modal-close="closeDialog()" data-ng-controller="ScoreboardWidgetDialogController">
		<form name="form" class="modal-form">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h4>Scoreboard Widget</h4>
			</div>
			<div class="modal-body">
				<div class="control-group">
					<label class="control-label" for="label">Title</label>
					<div class="controls">
						<input name="label" type="text" required min="1" max="20" data-ng-model="settings.label"/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="limit">Limit</label>
					<div class="controls">
						<input name="limit" type="number" required min="1" max="100" data-ng-model="settings.limit"/>
						<p class="help-block">The number of items to show.</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="keyField">Key Field</label>
					<div class="controls">
						<select name="keyField" required data-ng-model="settings.key_field" data-ng-options="field.name as field.name for field in getKeyFields()"></select>
						<p class="help-block">The field on which to aggregate.</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="valueField">Value Field</label>
					<div class="controls">
						<select name="valueField" required data-ng-model="settings.value_field" data-ng-options="field.name as field.name for field in getValueFields()"></select>
						<p class="help-block">The numeric field on which to gather statistics.</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="unit">Unit</label>
					<div class="controls">
						<select name="unit" required data-ng-model="settings.unit" data-ng-options="unit for unit in getUnits()"></select>
						<p class="help-block">The unit to use.</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="filter">Filter</label>
					<div class="controls">
						<input name="filter" type="text" data-ng-model="settings.filter"/>
						<p class="help-block">Optional constraint.</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-ng-click="save()" data-ng-disabled="!form.$valid || !isUnitValid">Update</button>
				<button class="btn" data-dismiss="modal">Cancel</button>
			</div>
		</form>
	</div>

</div>
