<div data-ng-controller="TimelineCtrl">

	<div id="timeline-{{settings.id}}" data-ng-show="times"></div>

	<p data-ng-show="times == null" class="none">Loading...</p>

	<p data-ng-show="times.length == 0" class="none">None</p>

	<div class="btn-toolbar">
		<div class="btn-group" data-ng-show="editing">
			<button class="btn" title="Settings" data-ng-click="showDialog(true)"><i class="icon-cog"></i></button>
		</div>
	</div>

	<div class="modal" data-ng-controller="WidgetSettingsCtrl" data-ng-show="dialogShown">
		<form name="form" class="modal-form">
			<div class="modal-header">
				<a class="close" data-ng-click="cancel()">&times;</a>
				<h3>Timeline</h3>
			</div>
			<div class="modal-body">
				<div class="control-group">
					<label class="control-label" for="label">Title</label>
					<div class="controls">
						<input name="label" type="text" required min="1" max="20" data-ng-model="settings.label"/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="unit">Metric</label>
					<div class="controls">
						<input name="metric" type="text" required data-ng-model="settings.metric"/>
						<p class="help-block">count (default), sum, avg, min or max.</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="valueField">Value Field</label>
					<div class="controls">
						<input name="valueField" type="text" required data-ng-model="settings.valueField"/>
						<p class="help-block">The numeric field on which to gather statistics. Leave blank to show a simple count.</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="unit">Unit</label>
					<div class="controls">
						<input name="valueField" type="text" required data-ng-model="settings.unit"/>
						<p class="help-block">The unit to use for the numeric field.</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-ng-click="save()" data-ng-disabled="!form.$valid">Update</button>
				<button class="btn" data-ng-click="cancel()">Cancel</button>
			</div>
		</form>
	</div>

</div>
