<div id="dashboard-view" class="container-fluid" data-ng-controller="BucketCtrl">

	<div id="dashboard-message" data-ng-show="message" class="alert alert-block alert-error">
		{{message}}
	</div>

	<div id="dashboard-loading-message" data-ng-hide="bucket || message">
		<i class="icon-refresh"></i> Loading...		
	</div>

	<div data-ng-show="bucket">
	
		<div class="row-fluid" style="margin-bottom: 9px;">
			<h3 id="bucket-title" class="pull-left">{{bucket.label}}</h3>
			<p class="pull-left" style="margin-left: 9px; margin-top: 5px; vertical-align: middle" data-ng-show="total >= 0">
				<span id="event-count" class="badge badge-success" title="Events">{{total}}</span>
			</p>
			<p class="pull-left" style="margin-left: 9px; margin-top: 5px; vertical-align: middle" data-ng-show="total < 0">
				<span class="badge badge-important" title="Couldn't load any events">0</span>
			</p>
			<p class="pull-left" style="margin-left: 8px; margin-top: 6px; vertical-align: middle">
				<a href="javascript:" data-ng-click="refresh()" title="Refresh"><i class="icon-refresh"></i></a>
			</p>
			<p class="pull-left" style="margin-left: 8px; margin-top: 6px; vertical-align: middle" data-ng-show="editable">
				<a id="edit-bucket-action" href="javascript:" data-ng-click="edit()" title="Edit Dashboard..."><i class="icon-pencil"></i></a>
			</p>
			<p class="pull-left" style="margin-left: 8px; margin-top: 6px; vertical-align: middle" data-ng-show="canImport()">
				<a data-toggle="modal" href="#import-events-dialog" title="Import Events..."><i class="icon-upload"></i></a>
			</p>
			<p class="pull-left" style="margin-left: 8px; margin-top: 6px; vertical-align: middle" data-ng-show="total > 0">
				<a data-toggle="modal" data-ng-href="{{getExportUrl()}}" title="Export Events"><i class="icon-download"></i></a>
			</p>
			<p class="pull-left" style="margin-left: 8px; margin-top: 6px; vertical-align: middle" data-ng-show="editable">
				<a id="add-event-action" title="Add Event..." data-toggle="modal" href="javascript:" data-ng-click="editEvent({})"><i class="icon-plus"></i></a>
			</p>
			<ul class="nav nav-pills" style="clear: both; margin-bottom:12px;" data-ng-show="filters">
				<li class="active" data-ng-repeat="filter in filters">
					<a href="javascript:" data-ng-click="removeFilter(filter)"><i class="icon-white" data-ng-class="getFilterIcon(filter)"></i> {{filter.value}} <i class="icon-remove icon-white"></i></a>
				</li>
			</ul>
		</div>

		<p data-ng-show="bucket.description" data-ng-bind-html="bucket.description" style="margin-bottom: 18px;"></p>
	
		<div class="alert alert-block alert-info" data-ng-controller="BucketFormCtrl" data-ng-show="editing">
			<a class="close" href="javascript:" data-ng-click="cancel()">&times;</a>
			<h3 class="alert-heading">Edit</h3>
			<form name="dashboardForm">
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="edit-label"><strong>Title</strong></label>
						<div class="controls">
							<input id="edit-bucket-label" type="text" class="input-large" required data-ng-minlength="1" data-ng-maxlength="20" data-ng-pattern="/^[a-zA-Z0-9-_ ]+$/" data-ng-model="bucket.label">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="edit-description"><strong>Description</strong></label>
						<div class="controls">
							<textarea id="edit-bucket-description" class="input-xxlarge" rows="3" data-ng-model="bucket.description"></textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="edit-public"><strong>Permissions</strong></label>
						<div class="controls">
							<span data-ng-show="user.verified">
								<i class="icon-globe"></i>
								<a id="publish-bucket-link" href="javascript:" data-ng-click="bucket.publish()" data-ng-show="!bucket.isPublished()">make public</a> 
								<a id="unpublish-bucket-link" href="javascript:" data-ng-click="bucket.unpublish()" data-ng-show="bucket.isPublished()">make private</a> 
							</span>
							<span data-ng-hide="user.verified">
								<i>You can publish this dashboard after signing up and verifying your email address.</i>
							</span>
						</div>
					</div>
				</fieldset>
			</form>
			<p>
				<button id="save-bucket-button" data-ng-click="save()" class="btn btn-primary" data-ng-disabled="!dashboardForm.$valid">Save</button>
				<button data-ng-click="cancel()" class="btn">Cancel</button>
			</p>
		</div>
	
		<div class="row-fluid" data-ng-show="hasWidgets('top') || editing">
			<div class="span12">
				<ul class="nav nav-tabs">
					<li data-ng-class="$index == 0 && 'active'" data-ng-repeat="settings in getWidgetSettings('top')">
						<a id="{{settings.id}}-tab" data-ng-href="#{{settings.id}}" data-toggle="tab">{{settings.label}}&nbsp;<span class="close close-tab" title="Remove" href="javascript:" data-ng-click="removeWidget(settings)" data-ng-show="editing">&times;</span></a>
					</li>
					<li data-ng-show="editing"><a href="javascript:" data-ng-click="chooseWidget('top')" title="Add Widget..."><i class="icon-plus-sign"></i></a></li>
				</ul>
				<div class="tab-content">
					<div id="{{settings.id}}" class="tab-pane" data-ng-class="$index == 0 && 'active'" data-ng-repeat="settings in getWidgetSettings('top')" data-ng-include="getTemplate(settings.type)"></div>
				</div>
			</div>
		</div>
	
		<div class="row-fluid">
			<div class="span6" data-ng-show="hasWidgets('left') || editing">
				<ul class="nav nav-tabs">
					<li data-ng-class="$index == 0 && 'active'" data-ng-repeat="settings in getWidgetSettings('left')">
						<a id="{{settings.id}}-tab" data-ng-href="#{{settings.id}}" data-toggle="tab">{{settings.label}}&nbsp;<span class="close close-tab" title="Remove" href="javascript:" data-ng-click="removeWidget(settings)" data-ng-show="editing">&times;</span></a>
					</li>
					<li data-ng-show="editing"><a href="javascript:" data-ng-click="chooseWidget('left')" title="Add Widget..."><i class="icon-plus-sign"></i></a></li>
				</ul>
				<div class="tab-content">
					<div id="{{settings.id}}" class="tab-pane" data-ng-class="$index == 0 && 'active'" data-ng-repeat="settings in getWidgetSettings('left')" data-ng-include="getTemplate(settings.type)"></div>
				</div>
			</div>
			<div class="span6" data-ng-show="hasWidgets('right') || editing">
				<ul class="nav nav-tabs">
					<li data-ng-class="$index == 0 && 'active'" data-ng-repeat="settings in getWidgetSettings('right')">
						<a id="{{settings.id}}-tab" data-ng-href="#{{settings.id}}" data-toggle="tab">{{settings.label}}&nbsp;<span class="close close-tab" title="Remove" href="javascript:" data-ng-click="removeWidget(settings)" data-ng-show="editing">&times;</span></a>
					</li>
					<li data-ng-show="editing"><a href="javascript:" data-ng-click="chooseWidget('right')" title="Add Widget..."><i class="icon-plus-sign"></i></a></li>
				</ul>
				<div class="tab-content">
					<div id="{{settings.id}}" class="tab-pane" data-ng-class="$index == 0 && 'active'" data-ng-repeat="settings in getWidgetSettings('right')" data-ng-include="getTemplate(settings.type)"></div>
				</div>
			</div>
		</div>

	</div>

	<div id="add-widget-dialog" data-ui-modal="placement" data-ui-modal-open="init()" data-ui-modal-close="chooseWidget(null)" data-ng-controller="AddWidgetCtrl">
		<form name="addWidgetForm" class="modal-form">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h3>Add Widget</h3>
			</div>
			<div class="modal-body">
				<label for="template" class="control-label">Type</label>
				<div class="controls">
					<select name="template" data-ng-model="template" data-ng-options="t.label for t in findTemplates()" required></select>
					<p class="help-block">{{template.description}}</p>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-ng-click="add()" data-ng-disabled="!addWidgetForm.$valid">Add</button>
				<button class="btn" data-dismiss="modal">Cancel</button>
			</div>
		</form>
	</div>

	<div id="edit-event-dialog" data-ui-modal="selectedEvent" data-ui-modal-open="init()" data-ui-modal-close="editEvent(null)" data-ng-controller="EditEventDialogCtrl">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">&times;</a>
			<h3>Event</h3>
		</div>
		<div class="modal-body">
			<div class="alert alert-error" data-ng-show="message">
				{{message}}
			</div>
			<div class="control-group">
				<label for="field" class="control-label">Field</label>
				<select id="event-field-select" name="field" class="input-large" data-ng-model="field" data-ng-options="f.name for f in fields | orderBy:'name'">
					<option value=""></option>
				</select>
			</div>
			<div data-ng-include="getTemplate(field)" data-ng-show="field"></div>
			<div id="create-event-preview">
				<em data-ng-hide="entries.length > 0">Add one or more fields, then save.</em>
				<span class="editable" data-ng-repeat="entry in entries">
					<span data-ng-bind-html="entry.value | field:entry.field.name"></span>
					<a class="action" href="javascript:" data-ng-click="remove(entry)"><i class="icon-remove" title="Delete"></i></a>
				</span>
			</div>
		</div>
		<div class="modal-footer">
			<button id="save-event-button" class="btn btn-primary" data-ng-click="save()" data-ng-disabled="isEmpty()">Save</button>
			<button id="cancel-event-button" class="btn" data-dismiss="modal">Cancel</button>
		</div>
	</div>

	<script id="/create-tag.html" type="text/ng-template">
		<div data-ng-controller="CreateTagFieldCtrl">
			<div class="control-group">
				<label for="value" class="control-label">Value</label>
				<input id="tag-value-field" name="value" type="text" data-provide="typeahead" data-ng-model="value"/>
			</div>
			<div class="control-group">
				<button id="add-tag-button" class="btn" href="javascript:" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-location.html" type="text/ng-template">
		<div data-ng-controller="CreateLocationFieldCtrl">
			<div id="create-location-map"></div>
			<div class="control-group">
				<button id="add-location-button" class="btn" href="javascript:" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-timestamp.html" type="text/ng-template">
		<div data-ng-controller="CreateTimestampFieldCtrl">
			<div class="control-group">
				<label for="value" class="control-label">Value</label>
				<input id="timestamp-value-field" name="value" type="text" data-ng-model="value"/>
			</div>
			<div class="control-group">
				<button id="add-timestamp-button" class="btn" href="javascript:" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-duration.html" type="text/ng-template">
		<div data-ng-controller="CreateDurationFieldCtrl">
			<div class="control-group">
				<input id="duration-days-field" name="days" type="number" data-ng-model="days"/> d<br/>
				<input id="duration-hours-field" name="hours" type="number" min="0" max="23" data-ng-model="hours"/> h<br/>
				<input id="duration-minutes-field" name="minutes" type="number" min="0" max="59" data-ng-model="minutes"/> min<br/>
				<input id="duration-seconds-field" name="seconds" type="number" min="0" max="59" data-ng-model="seconds"/> s
			</div>
			<div class="control-group">
				<button id="add-duration-button" class="btn" href="javascript:" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-resource.html" type="text/ng-template">
		<div data-ng-controller="CreateResourceFieldCtrl">
			<div class="control-group">
				<label for="url" class="control-label">URL</label>
				<input id="resource-url-field" name="url" type="text" data-ng-model="value.url"/>
			</div>
			<div class="control-group">
				<label for="title" class="control-label">Title</label>
				<input id="resource-title-field" name="title" type="text" data-ng-model="value.title"/>
			</div>
			<div class="control-group">
				<button id="add-resource-button" class="btn" href="javascript:" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<!-- begin units -->
	<script id="/create-distance.html" type="text/ng-template">
		<div data-ng-controller="CreateUnitFieldCtrl">
			<div class="control-group">
				<label for="value" class="control-label">Value</label>
				<input id="distance-value-field" name="value" type="number" data-ng-model="value['@value']"/>
			</div>
			<div class="control-group">
				<label for="unit" class="control-label">Unit</label>
				<select id="distance-unit-select" name="unit" data-ng-model="value.unit" data-ng-options="unit for unit in field.units"></select>
			</div>
			<div class="control-group">
				<button id="add-distance-button" class="btn" href="javascript:" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-height.html" type="text/ng-template">
		<div data-ng-controller="CreateUnitFieldCtrl">
			<div class="control-group">
				<label for="value" class="control-label">Value</label>
				<input id="height-value-field" name="value" type="number" data-ng-model="value['@value']"/>
			</div>
			<div class="control-group">
				<label for="unit" class="control-label">Unit</label>
				<select id="height-unit-select" name="unit" data-ng-model="value.unit" data-ng-options="unit for unit in field.units"></select>
			</div>
			<div class="control-group">
				<button id="add-height-button" class="btn" href="javascript:" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-weight.html" type="text/ng-template">
		<div data-ng-controller="CreateUnitFieldCtrl">
			<div class="control-group">
				<label for="value" class="control-label">Value</label>
				<input id="wight-value-field" name="value" type="number" data-ng-model="value['@value']"/>
			</div>
			<div class="control-group">
				<label for="unit" class="control-label">Unit</label>
				<select id="weight-unit-select" name="unit" data-ng-model="value.unit" data-ng-options="unit for unit in field.units"></select>
			</div>
			<div class="control-group">
				<button id="add-weight-button" class="btn" href="javascript:" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-pressure.html" type="text/ng-template">
		<div data-ng-controller="CreateUnitFieldCtrl">
			<div class="control-group">
				<label for="value" class="control-label">Value</label>
				<input id="pressure-value-field" name="value" type="number" min="0" data-ng-model="value['@value']"/>
			</div>
			<div class="control-group">
				<label for="unit" class="control-label">Unit</label>
				<select id="pressure-unit-select" name="unit" data-ng-model="value.unit" data-ng-options="unit for unit in field.units"></select>
			</div>
			<div class="control-group">
				<button id="add-pressure-button" class="btn" href="javascript:" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-temperature.html" type="text/ng-template">
		<div data-ng-controller="CreateUnitFieldCtrl">
			<div class="control-group">
				<label for="value" class="control-label">Value</label>
				<input id="temperature-value-field" name="value" type="number" data-ng-model="value['@value']"/>
			</div>
			<div class="control-group">
				<label for="unit" class="control-label">Unit</label>
				<select id="temperature-unit-select" name="unit" data-ng-model="value.unit" data-ng-options="unit for unit in field.units"></select>
			</div>
			<div class="control-group">
				<button id="add-temperature-button" class="btn" href="javascript:" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-frequency.html" type="text/ng-template">
		<div data-ng-controller="CreateUnitFieldCtrl">
			<div class="control-group">
				<label for="value" class="control-label">Value</label>
				<input id="frequency-value-field" name="value" type="number" data-ng-model="value['@value']"/>
			</div>
			<div class="control-group">
				<label for="unit" class="control-label">Unit</label>
				<select id="frequency-unit-select" name="unit" data-ng-model="value.unit" data-ng-options="unit for unit in field.units"></select>
			</div>
			<div class="control-group">
				<button id="add-frequency-button" class="btn" href="javascript:" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>
	<!-- end units -->

	<script id="/create-count.html" type="text/ng-template">
		<div data-ng-controller="CreateIntegerFieldCtrl">
			<div class="control-group">
				<label for="value" class="control-label">Value</label>
				<input id="count-value-field" name="value" type="number" data-ng-model="value"/>
			</div>
			<div class="control-group">
				<button id="add-count-button" class="btn" href="javascript:" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-rating.html" type="text/ng-template">
		<div data-ng-controller="CreateIntegerFieldCtrl">
			<div class="control-group">
				<label for="value" class="control-label">Value</label>
				<input id="rating-value-field" name="value" type="number" min="0" max="100" step="20" data-ng-model="value"/>
			</div>
			<div class="control-group">
				<button id="add-rating-button" class="btn" href="javascript:" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-note.html" type="text/ng-template">
		<div data-ng-controller="CreateNoteFieldCtrl">
			<div class="control-group">
				<label for="value" class="control-label">Value</label>
				<textarea id="note-value-field" name="value" data-ng-model="value"></textarea>
			</div>
			<div class="control-group">
				<button id="add-note-button" class="btn" href="javascript:" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<div id="import-events-dialog" class="modal hide" data-ng-controller="ImportEventsCtrl">
		<form name="importEventsForm" data-ng-submit="importEvents()" class="modal-form">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h3>Import Events</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-error" data-ng-show="message">
					{{message}}
				</div>
				<div class="controls input-append">
					<input type="file" required onchange="angular.element(this).scope().setFiles(this.files)"/>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary" data-ng-disabled="isEmpty()">Import</button>
				<button type="reset" class="btn" data-dismiss="modal">Cancel</button>
			</div>
		</form>
	</div>

</div>
