<div id="dashboard-view" class="container-fluid" data-ng-controller="DashboardController">

	<div id="dashboard-message" data-ng-show="message" class="alert alert-block alert-error">
		{{message}}
	</div>

	<div id="dashboard-loading-message" data-ng-hide="bucket || message">
		<i class="icon-refresh"></i> Loading...		
	</div>

	<div class="alert alert-block alert-info" data-ng-controller="EditWidgetsController" data-ng-show="dirty && editable">
		<a class="close" data-ng-click="revert()">&times;</a>
		<p>
			<strong><a id="save-widgets-button" data-ng-click="save()">Save</a></strong> or 
			<strong><a data-ng-click="revert()">revert</a></strong> changes to this dashboard.
		</p>
	</div>

	<div data-ng-show="bucket">

		<div class="row-fluid page-titlebar">

			<p class="pull-left page-title">
				<span id="bucket-title" class="page-title-text">{{bucket.label}}</span>
				<span id="event-count" class="badge badge-success page-title-decoration" title="Events" data-ng-show="total >= 0">{{total}}</span>
				<span class="badge badge-important page-title-decoration" title="Couldn't load any events" data-ng-show="total < 0">0</span>
				<a class="page-title-decoration" data-ng-click="run()" title="Refresh"><i class="icon-refresh"></i></a>
				<a id="add-event-action" class="page-title-decoration" title="Create Event..." data-ng-click="openDialog('edit-event-dialog', {})" data-ng-show="editable && !bucket.isVirtual()"><i class="icon-plus"></i></a>
			</p>

			<div class="pull-right page-title dropdown" data-ng-show="editable">
				<a id="bucket-menu" class="dropdown-toggle" data-toggle="dropdown" title="More..."> <i class="icon-align-justify"></i><b class="caret"></b></a>
				<ul class="dropdown-menu" role="menu">
					<li role="presentation">
						<a role="menuitem" data-ng-href="{{getExportUrl()}}" download="events.json" data-ng-show="total > 0">Export</a>
					</li>
					<li role="presentation">
						<a role="menuitem" data-ng-click="openDialog('import-dialog')" data-ng-show="canImport() && !bucket.isVirtual()">Import...</a>
					</li>
					<li role="presentation">
						<a role="menuitem" id="task-list-action" data-ng-click="openDialog('task-list-dialog')" data-ng-show="!bucket.isVirtual()">Tasks...</a>
					</li>
					<li role="presentation" class="divider"></li>
					<li role="presentation">
						<a id="edit-bucket-action" role="menuitem" data-ng-click="openDialog('edit-bucket-dialog')">Settings...</a>
					</li>
				</ul>
			</div>

			<ul class="nav nav-pills" data-ng-show="constraints">
				<li class="active" data-ng-repeat="constraint in constraints">
					<a data-ng-click="removeConstraint(constraint)" title="{{constraint.toString()}}"><i class="icon-minus icon-white" data-ng-show="constraint.negated"></i><i class="icon-white" data-ng-class="getConstraintIcon(constraint)"></i> {{constraint.value}} <i class="icon-remove icon-white"></i></a>
				</li>
				<li><a data-ng-click="openDialog('save-as-view-dialog')" data-ng-hide="bucket.isVirtual()">Save...</a></li>
			</ul>
		</div>

		<p data-ng-show="bucket.description" data-ng-bind-html="bucket.description" style="margin-bottom: 18px;"></p>

		<div class="row-fluid" data-ng-show="hasWidgets('top') || dirty">
			<div class="span12">
				<ul class="nav nav-tabs">
					<li data-ng-class="$index == 0 && 'active'" data-ng-repeat="settings in getWidgetSettings('top')">
						<a id="{{settings.id}}-tab" data-ng-href="#{{settings.id}}" target="_self" data-toggle="tab">{{settings.label}}&nbsp;<i class="icon-cog icon-hover" title="Settings..." data-ng-click="openDialog(settings.id + '-dialog')"></i></a>
					</li>
					<li><a data-ng-click="openDialog('add-widget-dialog', 'top')" title="Add..."> <i class="icon-plus icon-hover"></i> </a></li>
				</ul>
				<div class="tab-content">
					<div id="{{settings.id}}" class="tab-pane" data-ng-class="$index == 0 && 'active'" data-ng-repeat="settings in getWidgetSettings('top')" data-ng-include="getTemplate(settings.type)"></div>
				</div>
			</div>
		</div>
	
		<div class="row-fluid">
			<div class="span6" data-ng-show="hasWidgets('left') || dirty">
				<ul class="nav nav-tabs">
					<li data-ng-class="$index == 0 && 'active'" data-ng-repeat="settings in getWidgetSettings('left')">
						<a id="{{settings.id}}-tab" data-ng-href="#{{settings.id}}" target="_self" data-toggle="tab">{{settings.label}}&nbsp;<i class="icon-cog icon-hover" title="Settings..." data-ng-click="openDialog(settings.id + '-dialog')"></i></a>
					</li>
					<li><a data-ng-click="openDialog('add-widget-dialog', 'left')" title="Add..."> <i class="icon-plus icon-hover"></i> </a></li>
				</ul>
				<div class="tab-content">
					<div id="{{settings.id}}" class="tab-pane" data-ng-class="$index == 0 && 'active'" data-ng-repeat="settings in getWidgetSettings('left')" data-ng-include="getTemplate(settings.type)"></div>
				</div>
			</div>
			<div class="span6" data-ng-show="hasWidgets('right') || dirty">
				<ul class="nav nav-tabs">
					<li data-ng-class="$index == 0 && 'active'" data-ng-repeat="settings in getWidgetSettings('right')">
						<a id="{{settings.id}}-tab" data-ng-href="#{{settings.id}}" target="_self" data-toggle="tab">{{settings.label}}&nbsp;<i class="icon-cog icon-hover" title="Settings..." data-ng-click="openDialog(settings.id + '-dialog')"></i></a>
					</li>
					<li><a data-ng-click="openDialog('add-widget-dialog', 'right')" title="Add..."> <i class="icon-plus icon-hover"></i> </a></li>
				</ul>
				<div class="tab-content">
					<div id="{{settings.id}}" class="tab-pane" data-ng-class="$index == 0 && 'active'" data-ng-repeat="settings in getWidgetSettings('right')" data-ng-include="getTemplate(settings.type)"></div>
				</div>
			</div>
		</div>

	</div>

	<div id="edit-bucket-dialog" data-ui-modal data-ng-controller="EditBucketDialogController">
		<form name="form" data-ng-submit="save()" class="modal-form">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h4>Edit Bucket</h4>
			</div>
			<div class="modal-body">
				<div id="create-bucket-message" class="alert alert-error" data-ng-show="message">
					{{message}}
				</div>
				<div class="control-group" data-ng-class="!form.label.$valid && 'error'">
					<label for="label">Label</label>
					<input id="edit-bucket-label" name="label" type="text" class="xlarge" required data-ui-focus-on="openDialog:edit-bucket-dialog" data-ng-minlength="1" data-ng-maxlength="30" data-ng-pattern="/^[a-zA-Z0-9-_ ]+$/" data-ng-model="newBucket.label"/>
				</div>
				<div class="control-group">
					<label for="description">Description</label>
					<textarea id="edit-bucket-description" class="input-xlarge" rows="2" data-ng-model="newBucket.description"></textarea>
				</div>
				<div class="control-group">
					<label>Permissions</label>
					<ul class="nav nav-pills gray">
						<li class="active" data-ng-repeat="role in newBucket.roles">
							<a data-ng-click="newBucket.unpublish()" data-ng-show="role.principal == '*'"><i class="icon-globe"></i> <strong>anyone</strong> with a link can view <i class="icon-remove" title="Revoke"></i></a>
							<a data-ng-show="role.principal != '*'" style="cursor:default"><i class="icon-user"></i> <strong>{{role.principal | username}}</strong> is {{role.role}}</a>
						</li>
						<li data-ng-show="user.verified && !newBucket.isPublished()">
							<a id="publish-link" title="Add..." data-ng-click="newBucket.publish()"><i class="icon-plus"></i></a>
						</li>
					</ul>
					<p class="help-block" data-ng-hide="user.verified">
						<i>You can make this dashboard public after signing up and verifying your email address.</i>
					</p>
				</div>
				<div class="control-group" data-ng-show="isView" style="clear:both">
					<label>Aliases:</label>
					<ul class="nav nav-pills gray">
						<li class="active" data-ng-repeat="bucket in newBucket.aliases">
							<a class="edit-alias-item" data-ng-click="removeBucket(bucket['@id'])">
								<i class="icon-filter icon-white" title="{{bucket.filter}}" data-ng-show="bucket.filter"></i>
								<span data-ui-bucket-label="bucket['@id']"></span> <i class="icon-remove icon-white"></i>
							</a>
						</li>
					</ul>
					<div class="form-horizontal">
						<select id="edit-alias-select" class="input-medium" data-ng-model="selected" data-ng-options="bucket.label for bucket in listBuckets()"></select>
						<input id="edit-alias-filter" name="filter" type="text" class="input-medium" data-ng-model="filter" placeholder="e.g. tag:xyz"/>
						<button id="edit-alias-button" type="button" class="btn" data-ng-disabled="!selected" data-ng-click="addBucket()">Add</button>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="save-bucket-button" class="btn btn-primary" data-ng-disabled="!form.$valid || !valid()">Update</button>
				<button class="btn" data-dismiss="modal">Cancel</button>
			</div>
		</form>
	</div>

	<div id="save-as-view-dialog" data-ui-modal data-ng-controller="SaveAsViewDialogController">
		<form name="form" data-ng-submit="create()" class="modal-form">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h4>Create View</h4>
			</div>
			<div class="modal-body">
				<div id="create-view-message" class="alert alert-error" data-ng-show="message">
					{{message}}
				</div>
				<div class="control-group" data-ng-class="!form.label.$valid && 'error'">
					<label for="label">Label</label>
					<input id="create-view-label" name="label" type="text" class="xlarge" required data-ui-focus-on="openDialog:save-as-view-dialog" data-ng-minlength="1" data-ng-maxlength="20" data-ng-model="label"/>
				</div>
			</div>
			<div class="modal-footer">
				<button id="create-view-button" type="submit" class="btn btn-primary" data-ng-disabled="!form.$valid">Create</button>
				<button type="reset" class="btn" data-dismiss="modal">Cancel</button>
			</div>
		</form>
	</div>

	<div id="add-widget-dialog" data-ui-modal data-ng-controller="AddWidgetController">
		<form name="form" class="modal-form">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h4>Add Widget</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-error" data-ng-show="message">
					{{message}}
				</div>
				<div class="control-group">
					<label for="template" class="control-label">Type</label>
					<div class="controls">
						<select name="template" data-ng-model="template" data-ng-options="t.label for t in findTemplates()" required></select>
						<p class="help-block">{{template.description}}</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-ng-click="add()" data-ng-disabled="!form.$valid">Add</button>
				<button class="btn" data-dismiss="modal">Cancel</button>
			</div>
		</form>
	</div>

	<div id="task-list-dialog" data-ui-modal data-ng-controller="TaskListDialogController">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">&times;</a>
			<h4 class="alert-heading">Tasks</h4>
		</div>
		<div class="modal-body">
			<div class="alert alert-error" data-ng-show="message">
				{{message}}
			</div>
			<div class="control-group">
				<table class="table table-borderless">
					<tr data-ng-show="tasks == null">
						<td colspan="3"><i>Loading...</i></td>
					</tr>
					<tr data-ng-show="tasks.length == 0">
						<td colspan="3"><i>None</i></td>
					</tr>
					<tr class="task-row" data-ng-repeat="task in tasks">
						<td>{{task.type}}</td>
						<td>
							<span data-ng-show="task.status">ran {{task.completed | age}}</span>
						</td>
						<td style="text-align: right">
							<a class="action task-delete-action" data-ng-click="remove(task['@id'])"><i class="icon-trash" title="Delete"></i></a>
						</td>
					</tr>
				</table>
				<div class="btn-toolbar">
					<div class="btn-group pull-left">
						<button id="create-task-action" title="Create Task..." class="btn" data-ng-click="openDialog('create-task-dialog')"><i class="icon-plus"></i></button>
					</div>
					<div class="btn-group pull-right" data-ng-show="tasks">
						<button class="btn" title="Previous" data-ng-click="prev()" data-ng-disabled="!hasPrev()"><i class="icon-chevron-left"></i></button>
						<button class="btn" title="Next" data-ng-click="next()" data-ng-disabled="!hasNext()"><i class="icon-chevron-right"></i></button>
					</div>
					<div class="btn-group pull-right" data-ng-show="tasks">
						<button class="btn disabled zeno-paging"><b>{{offset + 1}}</b> &ndash; <b>{{offset + tasks.length}}</b> of <b>{{total}}</b></button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal">Close</button>
		</div>
	</div>

	<div id="create-task-dialog" data-ui-modal data-ng-controller="CreateTaskDialogController">
		<form name="form" class="modal-form">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h4 class="alert-heading">Create Task</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-error" data-ng-show="message">
					{{message}}
				</div>
				<div class="control-group">
					<label class="control-label" for="task-type">Type</label>
					<div class="controls">
						<select name="type" data-ng-model="type" data-ng-options="type.id for type in types" required></select>
						<p class="help-block">{{type.description}}</p>
					</div>
				</div>
				<div data-ng-include="getTemplate(type)" data-ng-show="type"></div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-ng-click="create()" data-ng-disabled="!form.$valid">Save</button>
				<button class="btn" data-dismiss="modal">Cancel</button>
			</div>
		</form>
	</div>

	<script id="/fitbit-sleep-settings.html" type="text/ng-template">
		<div data-ng-controller="FitbitSleepSettingsController">
			<div class="control-group">
				<label for="tag" class="control-label">Tag</label>
				<input name="tag" type="text" required data-ng-model="settings.tag"/>
			</div>
			<div class="control-group">
				<label for="marker" class="control-label">Starting from</label>
				<input class="input-small" type="text" data-ui-datepicker data-ng-model="settings.marker"/>
			</div>
		</div>
	</script>

	<script id="/fitbit-steps-settings.html" type="text/ng-template">
		<div data-ng-controller="FitbitStepsSettingsController">
			<div class="control-group">
				<label for="tag" class="control-label">Tag</label>
				<input name="tag" type="text" required data-ng-model="settings.tag"/>
			</div>
			<div class="control-group">
				<label for="marker" class="control-label">Starting from</label>
				<input class="input-small" type="text" data-ui-datepicker data-ng-model="settings.marker"/>
			</div>
		</div>
	</script>

	<script id="/bodymedia-burn-settings.html" type="text/ng-template">
		<div data-ng-controller="BodyMediaBurnSettingsController">
			<div class="control-group">
				<label for="tag" class="control-label">Tag</label>
				<input name="tag" type="text" required data-ng-model="settings.tag"/>
			</div>
			<div class="control-group">
				<label for="marker" class="control-label">Starting from</label>
				<input class="input-small" type="text" data-ui-datepicker data-ng-model="settings.marker"/>
			</div>
		</div>
	</script>

	<script id="/bodymedia-sleep-settings.html" type="text/ng-template">
		<div data-ng-controller="BodyMediaSleepSettingsController">
			<div class="control-group">
				<label for="tag" class="control-label">Tag</label>
				<input name="tag" type="text" required data-ng-model="settings.tag"/>
			</div>
			<div class="control-group">
				<label for="marker" class="control-label">Starting from</label>
				<input class="input-small" type="text" data-ui-datepicker data-ng-model="settings.marker"/>
			</div>
		</div>
	</script>

	<script id="/bodymedia-steps-settings.html" type="text/ng-template">
		<div data-ng-controller="BodyMediaStepsSettingsController">
			<div class="control-group">
				<label for="tag" class="control-label">Tag</label>
				<input name="tag" type="text" required data-ng-model="settings.tag"/>
			</div>
			<div class="control-group">
				<label for="marker" class="control-label">Starting from</label>
				<input class="input-small" type="text" data-ui-datepicker data-ng-model="settings.marker"/>
			</div>
		</div>
	</script>

	<script id="/foursquare-settings.html" type="text/ng-template">
		<div data-ng-controller="FoursquareSettingsController">
			<div class="control-group">
				<label for="marker" class="control-label">Starting from</label>
				<input class="input-small" type="text" data-ui-datepicker data-ng-model="settings.marker"/>
			</div>
		</div>
	</script>

	<script id="/netatmo-settings.html" type="text/ng-template">
		<div data-ng-controller="NetatmoSettingsController">
			<div class="control-group">
				<label for="marker" class="control-label">Starting from</label>
				<input class="input-small" type="text" data-ui-datepicker data-ng-model="settings.marker"/>
			</div>
		</div>
	</script>

	<script id="/runkeeper-activities-settings.html" type="text/ng-template">
		<div data-ng-controller="RunkeeperSettingsController">
			<div class="control-group">
				<label for="unit" class="control-label">Unit</label>
				<select name="unit" data-ng-model="settings.unit" data-ng-options="unit for unit in getUnits()" required></select>
			</div>
			<div class="control-group">
				<label for="timezone" class="control-label">Timezone</label>
				<select name="timezone" data-ng-model="settings.timezone" data-ng-options="timezone for timezone in timezones" required></select>
			</div>
			<div class="control-group">
				<label for="marker" class="control-label">Starting from</label>
				<input class="input-small" type="text" data-ui-datepicker data-ng-model="settings.marker"/>
			</div>
		</div>
	</script>

	<script id="/withings-settings.html" type="text/ng-template">
		<div data-ng-controller="WithingsSettingsController">
			<div class="control-group">
				<label for="tag" class="control-label">Tag</label>
				<input name="tag" type="text" required data-ng-model="settings.tag"/>
			</div>
			<div class="control-group">
				<label for="unit" class="control-label">Unit</label>
				<select name="unit" data-ng-model="settings.unit" data-ng-options="unit for unit in getUnits()" required></select>
			</div>
			<div class="control-group">
				<label for="timezone" class="control-label">Timezone</label>
				<select name="timezone" data-ng-model="settings.timezone" data-ng-options="timezone for timezone in timezones" required></select>
			</div>
			<div class="control-group">
				<label for="marker" class="control-label">Starting from</label>
				<input class="input-small" type="text" data-ui-datepicker data-ng-model="settings.marker"/>
			</div>
		</div>
	</script>

	<script id="/demo-settings.html" type="text/ng-template">
		<div data-ng-controller="DemoSettingsController">
			<div class="control-group">
				<label for="tag" class="control-label">Tag</label>
				<input name="tag" type="text" required data-ng-model="settings.tag"/>
			</div>
		</div>
	</script>

	<div id="edit-event-dialog" data-ui-modal data-keyboard="false" data-backdrop="static" data-ng-controller="EventDialogController">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">&times;</a>
			<h4>Event</h4>
		</div>
		<div class="modal-body">
			<div class="alert alert-error" data-ng-show="message">
				{{message}}
			</div>
			<div class="control-group">
				<label for="field" class="control-label">Field</label>
				<select id="event-field-select" name="field" class="input-large" data-ng-model="field" data-ng-options="f.name for f in fields | orderBy:'name'">
					<option value=""></option>
				</select>
			</div>
			<div class="well well-small" data-ng-include="getTemplate(field)" data-ng-show="field"></div>
			<div id="create-event-preview">
				<em data-ng-hide="entries.length > 0">Add one or more fields, then save.</em>
				<span class="editable" data-ng-repeat="entry in entries">
					<span data-ng-bind-html="entry.value | field:entry.field.name"></span>
					<a class="action" data-ng-click="remove(entry)"><i class="icon-remove" title="Delete"></i></a>
				</span>
			</div>
		</div>
		<div class="modal-footer">
			<button id="save-event-button" class="btn btn-primary" data-ng-click="save()" data-ng-disabled="field || entries.length == 0">Save</button>
			<button id="cancel-event-button" class="btn" data-dismiss="modal">Cancel</button>
		</div>
	</div>

	<script id="/create-tag.html" type="text/ng-template">
		<button class="close" data-ng-click="reset()">&times;</button>
		<div data-ng-controller="CreateTagFieldController">
			<div class="control-group">
				<label for="value" class="control-label">Value</label>
				<input id="tag-value-field" name="value" type="text" data-provide="typeahead" data-ng-model="value"/>
			</div>
			<div class="control-group">
				<button id="add-tag-button" class="btn" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-location.html" type="text/ng-template">
		<button class="close" data-ng-click="reset()">&times;</button>
		<div data-ng-controller="CreateLocationFieldController">
			<div class="control-group">
				<input id="location-search-field" name="location" type="text" class="search-query"/>
			</div>
			<div id="create-location-map"></div>
			<div class="control-group">
				<button id="add-location-button" class="btn" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-timestamp.html" type="text/ng-template">
		<button class="close" data-ng-click="reset()">&times;</button>
		<div data-ng-controller="CreateTimestampFieldController">
			<div class="control-group">
				<input id="timestamp-date-field" class="input-small" type="text" data-ui-datepicker data-ng-model="date"/>
				<input id="timestamp-time-field" class="input-mini" type="text" data-ui-timepicker data-ng-model="time"/>
				<select id="timestamp-timezone-offset-select" class="input-small" data-ng-model="timezone" data-ng-options="timezone for timezone in timezones"></select>
			</div>
			<div class="control-group">
				<button id="add-timestamp-button" class="btn" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-duration.html" type="text/ng-template">
		<button class="close" data-ng-click="reset()">&times;</button>
		<div data-ng-controller="CreateDurationFieldController">
			<div class="control-group">
				<input id="duration-days-field" name="days" type="number" data-ng-model="days"/> d<br/>
				<input id="duration-hours-field" name="hours" type="number" min="0" max="23" data-ng-model="hours"/> h<br/>
				<input id="duration-minutes-field" name="minutes" type="number" min="0" max="59" data-ng-model="minutes"/> min<br/>
				<input id="duration-seconds-field" name="seconds" type="number" min="0" max="59" data-ng-model="seconds"/> s
			</div>
			<div class="control-group">
				<button id="add-duration-button" class="btn" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-resource.html" type="text/ng-template">
		<button class="close" data-ng-click="reset()">&times;</button>
		<div data-ng-controller="CreateResourceFieldController">
			<div class="control-group">
				<label for="url" class="control-label">URL</label>
				<input id="resource-url-field" name="url" type="text" data-ng-model="value.url" data-ui-defer/>
			</div>
			<div class="control-group">
				<label for="title" class="control-label">Title</label>
				<input id="resource-title-field" name="title" type="text" data-ng-model="value.title"/>
			</div>
			<div class="control-group">
				<button id="add-resource-button" class="btn" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<!-- begin units -->
	<script id="/create-distance.html" type="text/ng-template">
		<button class="close" data-ng-click="reset()">&times;</button>
		<div data-ng-controller="CreateUnitFieldController">
			<div class="control-group">
				<label for="value" class="control-label">Value</label>
				<input id="distance-value-field" name="value" type="number" step="any" data-ng-model="value['@value']"/>
			</div>
			<div class="control-group">
				<label for="unit" class="control-label">Unit</label>
				<select id="distance-unit-select" name="unit" data-ng-model="value.unit" data-ng-options="unit for unit in field.units"></select>
			</div>
			<div class="control-group">
				<button id="add-distance-button" class="btn" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-height.html" type="text/ng-template">
		<button class="close" data-ng-click="reset()">&times;</button>
		<div data-ng-controller="CreateUnitFieldController">
			<div class="control-group">
				<label for="value" class="control-label">Value</label>
				<input id="height-value-field" name="value" type="number" step="any" data-ng-model="value['@value']"/>
			</div>
			<div class="control-group">
				<label for="unit" class="control-label">Unit</label>
				<select id="height-unit-select" name="unit" data-ng-model="value.unit" data-ng-options="unit for unit in field.units"></select>
			</div>
			<div class="control-group">
				<button id="add-height-button" class="btn" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-weight.html" type="text/ng-template">
		<button class="close" data-ng-click="reset()">&times;</button>
		<div data-ng-controller="CreateUnitFieldController">
			<div class="control-group">
				<label for="value" class="control-label">Value</label>
				<input id="weight-value-field" name="value" type="number" step="any" data-ng-model="value['@value']"/>
			</div>
			<div class="control-group">
				<label for="unit" class="control-label">Unit</label>
				<select id="weight-unit-select" name="unit" data-ng-model="value.unit" data-ng-options="unit for unit in field.units"></select>
			</div>
			<div class="control-group">
				<button id="add-weight-button" class="btn" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-volume.html" type="text/ng-template">
		<button class="close" data-ng-click="reset()">&times;</button>
		<div data-ng-controller="CreateUnitFieldController">
			<div class="control-group">
				<label for="value" class="control-label">Value</label>
				<input id="volume-value-field" name="value" type="number" step="any" data-ng-model="value['@value']"/>
			</div>
			<div class="control-group">
				<label for="unit" class="control-label">Unit</label>
				<select id="volume-unit-select" name="unit" data-ng-model="value.unit" data-ng-options="unit for unit in field.units"></select>
			</div>
			<div class="control-group">
				<button id="add-volume-button" class="btn" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-concentration.html" type="text/ng-template">
		<button class="close" data-ng-click="reset()">&times;</button>
		<div data-ng-controller="CreateUnitFieldController">
			<div class="control-group">
				<label for="value" class="control-label">Value</label>
				<input id="concentration-value-field" name="value" type="number" step="any" data-ng-model="value['@value']"/>
			</div>
			<div class="control-group">
				<label for="unit" class="control-label">Unit</label>
				<select id="concentration-unit-select" name="unit" data-ng-model="value.unit" data-ng-options="unit for unit in field.units"></select>
			</div>
			<div class="control-group">
				<button id="add-concentration-button" class="btn" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-pressure.html" type="text/ng-template">
		<button class="close" data-ng-click="reset()">&times;</button>
		<div data-ng-controller="CreateUnitFieldController">
			<div class="control-group">
				<label for="value" class="control-label">Value</label>
				<input id="pressure-value-field" name="value" type="number" step="any" min="0" data-ng-model="value['@value']"/>
			</div>
			<div class="control-group">
				<label for="unit" class="control-label">Unit</label>
				<select id="pressure-unit-select" name="unit" data-ng-model="value.unit" data-ng-options="unit for unit in field.units"></select>
			</div>
			<div class="control-group">
				<button id="add-pressure-button" class="btn" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-sound.html" type="text/ng-template">
		<button class="close" data-ng-click="reset()">&times;</button>
		<div data-ng-controller="CreateUnitFieldController">
			<div class="control-group">
				<label for="value" class="control-label">Value</label>
				<input id="sound-value-field" name="value" type="number" step="any" min="0" data-ng-model="value['@value']"/>
			</div>
			<div class="control-group">
				<label for="unit" class="control-label">Unit</label>
				<select id="sound-unit-select" name="unit" data-ng-model="value.unit" data-ng-options="unit for unit in field.units"></select>
			</div>
			<div class="control-group">
				<button id="add-sound-button" class="btn" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-energy.html" type="text/ng-template">
		<button class="close" data-ng-click="reset()">&times;</button>
		<div data-ng-controller="CreateUnitFieldController">
			<div class="control-group">
				<label for="value" class="control-label">Value</label>
				<input id="energy-value-field" name="value" type="number" step="any" data-ng-model="value['@value']"/>
			</div>
			<div class="control-group">
				<label for="unit" class="control-label">Unit</label>
				<select id="energy-unit-select" name="unit" data-ng-model="value.unit" data-ng-options="unit for unit in field.units"></select>
			</div>
			<div class="control-group">
				<button id="add-energy-button" class="btn" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-temperature.html" type="text/ng-template">
		<button class="close" data-ng-click="reset()">&times;</button>
		<div data-ng-controller="CreateUnitFieldController">
			<div class="control-group">
				<label for="value" class="control-label">Value</label>
				<input id="temperature-value-field" name="value" type="number" step="any" data-ng-model="value['@value']"/>
			</div>
			<div class="control-group">
				<label for="unit" class="control-label">Unit</label>
				<select id="temperature-unit-select" name="unit" data-ng-model="value.unit" data-ng-options="unit for unit in field.units"></select>
			</div>
			<div class="control-group">
				<button id="add-temperature-button" class="btn" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-frequency.html" type="text/ng-template">
		<button class="close" data-ng-click="reset()">&times;</button>
		<div data-ng-controller="CreateUnitFieldController">
			<div class="control-group">
				<label for="value" class="control-label">Value</label>
				<input id="frequency-value-field" name="value" type="number" step="any" data-ng-model="value['@value']"/>
			</div>
			<div class="control-group">
				<label for="unit" class="control-label">Unit</label>
				<select id="frequency-unit-select" name="unit" data-ng-model="value.unit" data-ng-options="unit for unit in field.units"></select>
			</div>
			<div class="control-group">
				<button id="add-frequency-button" class="btn" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-velocity.html" type="text/ng-template">
		<button class="close" data-ng-click="reset()">&times;</button>
		<div data-ng-controller="CreateUnitFieldController">
			<div class="control-group">
				<label for="value" class="control-label">Value</label>
				<input id="velocity-value-field" name="value" type="number" step="any" data-ng-model="value['@value']"/>
			</div>
			<div class="control-group">
				<label for="unit" class="control-label">Unit</label>
				<select id="velocity-unit-select" name="unit" data-ng-model="value.unit" data-ng-options="unit for unit in field.units"></select>
			</div>
			<div class="control-group">
				<button id="add-velocity-button" class="btn" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-bits.html" type="text/ng-template">
		<button class="close" data-ng-click="reset()">&times;</button>
		<div data-ng-controller="CreateUnitFieldController">
			<div class="control-group">
				<label for="value" class="control-label">Value</label>
				<input id="bits-value-field" name="value" type="number" step="any" data-ng-model="value['@value']"/>
			</div>
			<div class="control-group">
				<label for="unit" class="control-label">Unit</label>
				<select id="bits-unit-select" name="unit" data-ng-model="value.unit" data-ng-options="unit for unit in field.units"></select>
			</div>
			<div class="control-group">
				<button id="add-bits-button" class="btn" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<!-- end units -->

	<script id="/create-count.html" type="text/ng-template">
		<button class="close" data-ng-click="reset()">&times;</button>
		<div data-ng-controller="CreateIntegerFieldController">
			<div class="control-group">
				<label for="value" class="control-label">Value</label>
				<input id="count-value-field" name="value" type="number" data-ng-model="value"/>
			</div>
			<div class="control-group">
				<button id="add-count-button" class="btn" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-humidity.html" type="text/ng-template">
		<button class="close" data-ng-click="reset()">&times;</button>
		<div data-ng-controller="CreateIntegerFieldController">
			<div class="control-group">
				<label for="value" class="control-label">Value</label>
				<input id="humidity-value-field" name="value" type="number" data-ng-model="value"/> <strong>%</strong>
			</div>
			<div class="control-group">
				<button id="add-humidity-button" class="btn" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-rating.html" type="text/ng-template">
		<button class="close" data-ng-click="reset()">&times;</button>
		<div data-ng-controller="CreateRatingFieldController">
			<div class="control-group">
				<span class="nowrap" style="cursor:pointer"><i id="rating-{{i}}-star" title="Rate {{i}}/5" data-ng-class="get() >= i && 'icon-star' || 'icon-star-empty'" data-ng-mouseenter="highlight(i)" data-ng-mouseleave="highlight(0)" data-ng-click="set(i)" data-ng-repeat="i in [ 1, 2, 3, 4, 5 ]"></i></span>
			</div>
			<div class="control-group">
				<button id="add-rating-button" class="btn" data-ng-click="addField()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-percentage.html" type="text/ng-template">
		<button class="close" data-ng-click="reset()">&times;</button>
		<div data-ng-controller="CreatePercentageFieldController">
			<div class="control-group">
				<input id="percentage-field" name="percentage" type="number" min="0" max="100" step="0.1" data-ng-model="value"/> %
			</div>
			<div class="control-group">
				<button id="add-percentage-button" class="btn" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<script id="/create-note.html" type="text/ng-template">
		<button class="close" data-ng-click="reset()">&times;</button>
		<div data-ng-controller="CreateNoteFieldController">
			<div class="control-group">
				<label for="value" class="control-label">Value</label>
				<textarea id="note-value-field" name="value" data-ng-model="value"></textarea>
			</div>
			<div class="control-group">
				<button id="add-note-button" class="btn" data-ng-click="addField()" data-ng-disabled="!valid()">Add</button>
			</div>
		</div>
	</script>

	<div id="import-dialog" data-ui-modal data-ng-controller="ImportDialogController">
		<form name="form" data-ng-submit="submit()" class="modal-form">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h4>Import</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-error" data-ng-show="message">
					{{message}}
				</div>
				<div id="select-import-file" class="fileupload fileupload-new" data-provides="fileupload">
					<span class="btn btn-file">
						<span class="fileupload-new">Select file</span>
						<span class="fileupload-exists">Change</span>
						<input type="file" required onchange="angular.element(this).scope().setFiles(this.files)" />
					</span>
					<span class="fileupload-preview"></span>
					<a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float:none">&times;</a>
				</div>
				<div class="controls">
					<span class="help-block">Import data that was exported from another bucket.
					The data format is described in the <a href="/#/api/events">API docs</a>.
					For help with importing data from other sources,
					<a href="https://zenobase.uservoice.com/">contact us</a>.</span>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary" data-ng-disabled="isEmpty()">Import</button>
				<button type="reset" class="btn" data-dismiss="modal">Cancel</button>
			</div>
		</form>
	</div>

</div>
