<div id="home-view" class="container-fluid">

	<div class="hero-unit" data-ng-controller="HomeController">
		<h1>What do you want to track today?</h1>
		<br/>
		<p><img src="/img/timeline.png"/></p>
		<br/>
		<p>
			Track <a href="https://zenobase.com/#/buckets/u07qih0a27/">places you've been</a>,
			<a href="https://zenobase.com/#/buckets/ma1vat5aoq/">movies you've seen</a>,
			health, fitness, or just about anything else.
		</p>
		<p>
			Pull in data from <a href="https://www.fitbit.com/">Fitbit</a>,
			<a href="http://www.bodymedia.com/">BodyMedia</a>,
			<a href="http://withings.com/">Withings</a>,
			<a href="https://foursquare.com/">Foursquare</a>,
			<a href="http://runkeeper.com/">RunKeeper</a> and 
			<a href="http://www.netatmo.com/">Netatmo</a>.
		</p>
		<br/>
		<p data-ng-hide="user">
			<a id="new-user-link" class="btn btn-large btn-primary" data-ng-click="start()">Get Started &raquo;</a>
		</p>
		<p data-ng-show="user">
			<a id="existing-user-link" class="btn btn-large btn-primary" data-ng-href="/#/users/{{user.getName()}}">My Data &raquo;</a>
		</p>
	</div>

</div>
