<div class="container-fluid">

	<div class="hero-unit" data-ng-controller="HomeCtrl">
		<h1>Collect and analyze self-tracking data.</h1>
		<br/>
		<p><img src="/img/dashboard-screenshot.png" width="505" height="312"/></p>
		<br/>
		<p>
			Explore some <a href="https://zenobase.com/#/buckets/u07qih0a27/">sample data</a>, or 
			<a data-ng-click="create()" data-ng-hide="user">start collecting your own data&hellip;</a>
			<a href="#/users/{{user.getName()}}" data-ng-show="user">view your own data&hellip;</a>
		</p>
	</div>

</div>
