<div id="pricing" class="container-fluid">

	<div class="row-fluid page-titlebar">
		<p class="pull-left page-title">
			<span class="page-title-text">Pricing</span>
		</p>
	</div>

	<div class="row">

		<div class="span3 alert" data-ng-class="user && !user.quota && 'alert-success' || 'alert-info'">
			<h4>Free</h4>
			<p></p>
			<p>Record up to one event per hour for <strong>free</strong>.</p>
			<button class="btn" data-ng-hide="user" data-ng-click="start()" data-ng-controller="HomeController">Select</button>
			<button class="btn" data-ng-show="user" data-ng-disabled="!user.quota" data-ng-click="openDialog('free-plan-dialog')">Select</button>
		</div>

		<div class="span3 alert" data-ng-class="user && user.quota == 3000000 && 'alert-success' || 'alert-info'">
			<h4>Personal</h4>
			<p></p>
			<p>Record up to one event per second for <strong>$5 per month</strong>.</p>
			<button class="btn" data-ng-disabled="!user" data-ng-click="openDialog('personal-plan-dialog')">
				<span data-ng-hide="user.quota">Select</span>
				<span data-ng-show="user.quota">Edit...</span>
			</button>
		</div>

		<div class="span3 alert" data-ng-class="user && user.quota > 3000000 && 'alert-success' || 'alert-info'">
			<h4>Commercial</h4>
			<p></p>
			<p>Flexible volume pricing starting at <strong>$30 per month</strong>.</p>
			<button class="btn" data-ng-click="openDialog('commercial-plan-dialog')">Select</button>
		</div>

	</div>

	<div id="free-plan-dialog" class="hide" data-ui-modal data-ng-controller="FreePlanDialogController">
		<form name="form" data-ng-submit="cancel()" class="modal-form" novalidate>
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h4>Free Plan</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-error" data-ng-show="message">
					{{message}}
				</div>
				<div data-ng-hide="ready">
					<p class="lead">Your credit card will <strong>no longer</strong> be charged.</p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary"data-ng-disabled="processing">Confirm</button>
				<button type="reset" class="btn" data-dismiss="modal">Cancel</button>
			</div>
		</form>
	</div>

	<div id="personal-plan-dialog" class="hide" data-ui-modal data-ng-controller="PersonalPlanDialogController">
		<form name="form" data-ng-submit="pay()" class="modal-form" novalidate>
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h4>Personal Plan</h4>
			</div>
			<div class="modal-body" data-ng-hide="user.verified">
				<p class="lead">Please verify your email address.</p>
			</div>
			<div class="modal-body" data-ng-show="user.verified">
				<div class="alert alert-error" data-ng-show="message">
					{{message}}
				</div>
				<div data-ng-hide="ready">
					<em>Loading...</em>
				</div>
				<div data-ng-show="ready">
					<p class="lead" data-ng-hide="user.quota">Your credit card will be charged <strong>$5 once a month</strong>.</p>
					<p class="lead" data-ng-show="user.quota && !oldCard.past_due">Your credit card is being charged <strong>$5 once a month</strong>.</p>
					<p class="lead" data-ng-show="user.quota && oldCard.past_due">Your <strong>$5 a month</strong> payment is past due, please update!</p>
					<div data-ng-hide="addCard || !oldCard">
						<div class="control-group">
							<label class="control-label">Card#</label>
							<div class="controls form-horizontal">
								<input type="text" class="input-large" data-ng-model="oldCard.number" disabled/>
								<a data-ng-click="addCard = true">update card</a>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Expires</label>
							<div class="controls">
								<input type="text" class="input-mini" data-ng-model="oldCard.expiration_month" disabled/>
								<input type="text" class="input-mini" data-ng-model="oldCard.expiration_year" disabled/>
							</div>
						</div>
					</div>
					<div data-ng-show="addCard">
						<div class="control-group">
							<label class="control-label">Card#</label>
							<div class="controls">
								<span class="input-append">
									<input name="ccnumber" type="text" class="input-large" required autocomplete="off" data-ui-payment-number data-ui-focus-on="openDialog:payment-dialog" data-ng-model="newCard.number"/>
									<span class="add-on">
										<i class="fa fa-exclamation" title="not valid" data-ng-show="form.ccnumber.$invalid"></i>
										<i class="fa fa-check" title="valid" data-ng-hide="form.ccnumber.$invalid"></i>
									</span>
								</span>
								<span class="input-append">
									<input name="cvv" type="text" class="input-mini" required autocomplete="off" data-ui-payment-cvv data-ng-model="newCard.cvv" placeholder="CVV"/>
									<span class="add-on">
										<i class="fa fa-exclamation" title="not valid" data-ng-show="form.cvv.$invalid"></i>
										<i class="fa fa-check" title="valid" data-ng-hide="form.cvv.$invalid"></i>
									</span>
								</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Expires</label>
							<div class="controls">
								<span class="input-append">
									<input name="expirationMonth" type="number" class="input-mini" required min="1" max="12" data-ng-model="newCard.expirationMonth" placeholder="MM"/>
									<span class="add-on">
										<i class="fa fa-exclamation" title="not valid" data-ng-show="form.expirationMonth.$invalid"></i>
										<i class="fa fa-check" title="valid" data-ng-hide="form.expirationMonth.$invalid"></i>
									</span>
								</span>
								<span class="input-append">
									<input name="expirationYear" type="number" class="input-mini" required min="2014" max="2100"  data-ng-model="newCard.expirationYear" placeholder="YYYY"/>
									<span class="add-on">
										<i class="fa fa-exclamation" title="not valid" data-ng-show="form.expirationYear.$invalid"></i>
										<i class="fa fa-check" title="valid" data-ng-hide="form.expirationYear.$invalid"></i>
									</span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a data-ng-href="https://www.braintreegateway.com/merchants/{{merchantId}}/verified" title="Braintree Secure Payments" target="_blank" class="pull-left">
					<img src="https://braintree-badges.s3.amazonaws.com/14.png" border="0"/>
				</a>
				<button type="submit" class="btn btn-primary" data-ng-disabled="processing || !user.verified || addCard && !form.$valid">Confirm</button>
				<button type="reset" class="btn" data-dismiss="modal">Cancel</button>
			</div>
		</form>
	</div>

	<div id="commercial-plan-dialog" class="hide" data-ui-modal>
		<div class="modal-header">
			<a class="close" data-dismiss="modal">&times;</a>
			<h4>Commercial Plan</h4>
		</div>
		<div class="modal-body">
			<p class="lead">Please <a href="info@zenobase.com?subject=Commercial+Plan" target="_blank">contact us</a>.</p>
		</div>
		<div class="modal-footer">
			<button type="reset" class="btn" data-dismiss="modal">Cancel</button>
		</div>
	</div>

</div>
