<div id="plans" class="container-fluid" data-ng-controller="PricingController">

	<div class="row-fluid page-titlebar">
		<p class="pull-left page-title">
			<span class="page-title-text">Plans</span>
		</p>
	</div>

	<div class="row">

		<div class="span3 alert" data-ng-class="user && (user.quota == 1000 || !user.quota) && 'alert-success' || 'alert-info'">
			<h4>Free</h4>
			<p></p>
			<p>add up to <strong>1,000</strong> events / month *</p>
			<p><em>record one event every hour</em></p>
			<button class="btn" data-ng-show="user && !user.isGuest()" data-ng-disabled="user.quota == 1000 || !user.quota" data-ng-click="selectPlan({ 'label' : 'Free', 'quota' : 1000, 'cost' : 0 })">Select</button>
		</div>

		<div class="span3 alert" data-ng-class="user && user.quota == 50000 && 'alert-success' || 'alert-info'">
			<h4>$5 <small>/ month</small></h4>
			<p></p>
			<p>add up to <strong>50,000</strong> events / month</p>
			<p><em>record one event every minute</em></p>
			<button class="btn" data-ng-show="user && !user.isGuest()" data-ng-disabled="user.quota == 50000" data-ng-click="selectPlan({ 'label' : '50K', 'quota' : 50000, 'cost' : 5 })">Select</button>
		</div>

		<div class="span3 alert" data-ng-class="user && user.quota == 3000000 && 'alert-success' || 'alert-info'">
			<h4>$30 <small>/ month</small></h4>
			<p></p>
			<p>add up to <strong>3 million</strong> events / month</p>
			<p><em>record one event every second</em></p>
			<button class="btn" data-ng-show="user && !user.isGuest()" data-ng-disabled="user.quota == 3000000" data-ng-click="selectPlan({ 'label' : '3M', 'quota' : 3000000, 'cost' : 30 })">Select</button>
		</div>

	</div>

	<div id="payment-dialog" class="hide" data-ui-modal data-ng-controller="PaymentDialogController">
		<form name="form" data-ng-submit="pay()" class="modal-form" novalidate>
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h4>{{plan.label}} Plan</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-error" data-ng-show="message">
					{{message}}
				</div>
				<div data-ng-show="plan.cost == 0">
					<p class="lead">This plan does not require any payment.</p>
				</div>
				<div data-ng-show="plan.cost > 0">
					<p class="lead">Your credit card will be charged ${{plan.cost}} once a month, until you select a different plan or close your account.</p>
					<div data-ng-hide="ready">
						<i class="fa fa-refresh fa-spin"></i>
					</div>
					<div data-ng-show="ready">
						<div class="control-group" data-ng-show="oldCard">
							<label class="radio"><input type="radio" name="addCard" data-ng-value="false" data-ng-model="addCard">Existing Card</label>
							<blockquote data-ng-hide="addCard">
								<strong>{{oldCard.number}} ({{oldCard.expiration_month}}/{{oldCard.expiration_year}})</strong>
							</blockquote>
							<label class="radio"><input type="radio" name="addCard" data-ng-value="true" data-ng-model="addCard">New Card</label>
						</div>
						<blockquote data-ng-show="addCard">
							<div class="control-group">
								<label class="control-label">Card Number</label>
								<div class="controls">
									<input name="number" type="text" class="input-large" required data-ui-focus-on="openDialog:payment-dialog" data-ng-model="newCard.number"/>
									<input name="number" type="text" pattern="\d\d\d\d?" class="input-mini" required data-ng-model="newCard.cvv" placeholder="CVV"/>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Expiration Date</label>
								<div class="controls">
									<input name="number" type="number" class="input-mini" required min="1" max="12" data-ng-model="newCard.expirationMonth" placeholder="MM"/>
									<input name="number" type="number" class="input-mini" required min="2014"  data-ng-model="newCard.expirationYear" placeholder="YYYY"/>
								</div>
							</div>
						</blockquote>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a data-ng-href="https://www.braintreegateway.com/merchants/{{merchantId}}/verified" title="Braintree Secure Payments" target="_blank" class="pull-left">
					<img src="https://braintree-badges.s3.amazonaws.com/14.png" border="0"/>
				</a>
				<button type="submit" class="btn btn-primary" data-ng-disabled="plan.cost > 0 && addCard && !form.$valid">Confirm</button>
				<button type="reset" class="btn" data-dismiss="modal">Cancel</button>
			</div>
		</form>
	</div>

</div>
