<div id="pricing" class="container-fluid" data-ng-controller="PricingController">

	<div class="row-fluid page-titlebar">
		<p class="pull-left page-title">
			<span class="page-title-text">Pricing</span>
		</p>
	</div>

	<div class="row">

		<div class="span3 alert" data-ng-class="user && !user.quota && 'alert-success' || 'alert-info'">
			<h4>Personal</h4>
			<p></p>
			<p>Record up to one event per second for <strong>$5 per month</strong>.</p>
			<button class="btn" data-ng-disabled="!user" data-ng-click="setPayment()">
				<span data-ng-hide="user.quota">Select</span>
				<span data-ng-show="user.quota">Update</span>
			</button>
		</div>

		<div class="span3 alert" data-ng-class="user && user.quota && 'alert-success' || 'alert-info'">
			<h4>Commercial</h4>
			<p></p>
			<p>Flexible volume pricing starting at <strong>$30 per month</strong>.</p>
			<a class="btn" href="mailto:info@zenobase.com?subject=Pricing" target="_blank">Contact us</a>
		</div>

	</div>

	<div id="payment-dialog" class="hide" data-ui-modal data-ng-controller="PaymentDialogController">
		<form name="form" data-ng-submit="pay()" class="modal-form" novalidate>
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h4>Payment</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-error" data-ng-show="message">
					{{message}}
				</div>
				<p class="lead">Your credit card will be billed <strong>$5 once a month</strong> as long as your account remains active.</p>
				<div data-ng-hide="ready">
					<em>Loading...</em>
				</div>
				<div data-ng-show="ready">
					<div data-ng-show="true">
						<div data-ng-hide="addCard">
							<div class="control-group">
								<label class="control-label">Card#</label>
								<div class="controls">
									<span class="input-append">
										<input type="text" class="input-large" data-ng-model="oldCard.number" disabled/>
										<span class="add-on">
											<i class="fa fa-pencil" title="Edit" data-ng-click="addCard = true" style="cursor:pointer"></i>
										</span>
									</span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Expires</label>
								<div class="controls">
									<input type="text" class="input-mini" data-ng-model="oldCard.expiration_month" disabled/>
									<input type="text" class="input-mini" data-ng-model="oldCard.expiration_year" disabled/>
								</div>
							</div>
						</div>
						<div data-ng-show="addCard">
							<div class="control-group">
								<label class="control-label">Card#</label>
								<div class="controls">
									<span class="input-append">
										<input name="ccnumber" type="text" class="input-large" required autocomplete="off" data-ui-payment-number data-ui-focus-on="openDialog:payment-dialog" data-ng-model="newCard.number"/>
										<span class="add-on">
											<i class="fa fa-exclamation" title="not valid" data-ng-show="form.ccnumber.$invalid"></i>
											<i class="fa fa-check" title="valid" data-ng-hide="form.ccnumber.$invalid"></i>
										</span>
									</span>
									<span class="input-append">
										<input name="cvv" type="text" class="input-mini" required autocomplete="off" data-ui-payment-cvv data-ng-model="newCard.cvv" placeholder="CVV"/>
										<span class="add-on">
											<i class="fa fa-exclamation" title="not valid" data-ng-show="form.cvv.$invalid"></i>
											<i class="fa fa-check" title="valid" data-ng-hide="form.cvv.$invalid"></i>
										</span>
									</span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Expires</label>
								<div class="controls">
									<span class="input-append">
										<input name="expirationMonth" type="number" class="input-mini" required min="1" max="12" data-ng-model="newCard.expirationMonth" placeholder="MM"/>
										<span class="add-on">
											<i class="fa fa-exclamation" title="not valid" data-ng-show="form.expirationMonth.$invalid"></i>
											<i class="fa fa-check" title="valid" data-ng-hide="form.expirationMonth.$invalid"></i>
										</span>
									</span>
									<span class="input-append">
										<input name="expirationYear" type="number" class="input-mini" required min="2014" max="2100"  data-ng-model="newCard.expirationYear" placeholder="YYYY"/>
										<span class="add-on">
											<i class="fa fa-exclamation" title="not valid" data-ng-show="form.expirationYear.$invalid"></i>
											<i class="fa fa-check" title="valid" data-ng-hide="form.expirationYear.$invalid"></i>
										</span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a data-ng-href="https://www.braintreegateway.com/merchants/{{merchantId}}/verified" title="Braintree Secure Payments" target="_blank" class="pull-left">
					<img src="https://braintree-badges.s3.amazonaws.com/14.png" border="0"/>
				</a>
				<button type="submit" class="btn btn-primary" data-ng-disabled="addCard && !form.$valid">Confirm</button>
				<button type="reset" class="btn" data-dismiss="modal">Cancel</button>
			</div>
		</form>
	</div>

</div>
