<div id="tasks-view" class="container-fluid" data-ng-controller="TaskListCtrl">

	<div data-ng-show="message" class="alert alert-block alert-error">
		{{message}}
	</div>

	<div data-ng-hide="tasks != null || message">
		<i class="icon-refresh"></i> Loading...		
	</div>

	<div data-ng-show="tasks != null">

		<div class="row-fluid page-titlebar">
			<p class="pull-left page-title">
				<span class="page-title-text">Tasks</span>
				<a id="refresh-tasks-link" class="page-title-decoration" href="javascript:" data-ng-click="refresh()" title="Refresh"><i class="icon-refresh"></i></a>
				<a id="create-task-action" class="page-title-decoration" href="javascript:" data-ng-click="showDialog(true)" title="Create Task..."><i class="icon-plus"></i></a>
			</p>
		</div>

		<table class="table">
			<thead>
				<tr>
					<th style="width: 0px">Task</th>
					<th style="width: 0px">Type</th>
					<th style="width: 0px">Bucket</th>
					<th style="width: 0px">Owner</th>
					<th style="width: 0px">Created</th>
					<th style="width: 0px">Updated</th>
					<th style="width: 0px">State</th>
					<th style="width: 0px"></th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-show="tasks == null">
					<td colspan="8"><i>Loading...</i></td>
				</tr>
				<tr class="task-row" data-ng-repeat="task in tasks">
					<td>{{task['@id']}}</td>
					<td>{{task.type}}</td>
					<td>{{task.bucket}}</td>
					<td>{{task.principal | username}}</td>
					<td>{{task.created | age}}</td>
					<td>{{task.updated | age}}</td>
					<td>{{task.state}} <a href="/tasks/{{task['@id']}}/auth" data-ng-show="task.state == 'UNAUTHORIZED'">authorize</a></td>
					<td style="text-align: right">
						<a class="action task-run-action" href="javascript:" data-ng-click="run(task['@id'])" data-ng-show="task.state == 'READY'"><i class="icon-play" title="Run"></i></a>
						<a class="action task-delete-action" href="javascript:" data-ng-click="remove(task['@id'])"><i class="icon-trash" title="Delete"></i></a>
					</td>
				</tr>
				<tr data-ng-show="tasks.length == 0">
					<td colspan="8"><i>None</i></td>
				</tr>
			</tbody>
		</table>
	
		<div id="create-task-dialog" data-ui-modal="dialogShown" data-ui-modal-open="init()" data-ui-modal-close="cancel()" data-ng-controller="CreateTaskDialogCtrl">
			<form class="modal-form">
				<div class="modal-header">
					<a class="close" href="javascript:" data-ng-click="cancel()">&times;</a>
					<h4 class="alert-heading">Task</h4>
				</div>
				<div class="modal-body">
					<div class="control-group">
						<label class="control-label" for="task-type"><strong>Type</strong></label>
						<div class="controls">
							<select name="type" data-ng-model="type" data-ng-options="type for type in types" required></select>
							<p class="help-block">The task type.</p>
						</div>
					</div>
				</div>
			</form>
			<div class="modal-footer">
				<button data-ng-click="create()" class="btn btn-primary">Save</button>
				<button data-ng-click="cancel()" class="btn">Cancel</button>
			</div>
		</div>
	
	</div>

</div>
