// CSS Reset
@import "bootstrap/reset.less";

// Core variables and mixins
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

// Grid system and page structure
@import "bootstrap/scaffolding.less";
@import "bootstrap/grid.less";
@import "bootstrap/layouts.less";

// Base CSS
@import "bootstrap/type.less";
@import "bootstrap/code.less";
@import "bootstrap/forms.less";
@import "bootstrap/tables.less";

// Components: common
@import "bootstrap/sprites.less";
@import "bootstrap/dropdowns.less";
@import "bootstrap/wells.less";
// @import "bootstrap/component-animations.less";
@import "bootstrap/close.less";

// Components: Buttons & Alerts
@import "bootstrap/buttons.less";
@import "bootstrap/button-groups.less";
@import "bootstrap/alerts.less";

// Components: Nav
@import "bootstrap/navs.less";
// @import "bootstrap/navbar.less";
// @import "bootstrap/breadcrumbs.less";
// @import "bootstrap/pagination.less";
// @import "bootstrap/pager.less";

// Components: Popovers
@import "bootstrap/modals.less";
@import "bootstrap/tooltip.less";
// @import "bootstrap/popovers.less";

// Components: Misc
@import "bootstrap/thumbnails.less";
// @import "bootstrap/media.less";
@import "bootstrap/labels-badges.less";
// @import "bootstrap/progress-bars.less";
// @import "bootstrap/accordion.less";
// @import "bootstrap/carousel.less";
@import "bootstrap/hero-unit.less";

// Utility classes
@import "bootstrap/utilities.less";

// Responsive
@import "bootstrap/responsive-utilities.less";
@import "bootstrap/responsive-767px-max.less";
@import "bootstrap/responsive-768px-979px.less";
@import "bootstrap/responsive-1200px-min.less";
// @import "bootstrap/responsive-navbar.less";

// Extensions
@import "datepicker.less";


.btn-group > button.zeno-paging {
	background-color: white;
	border: none;
}

.modal-form {
	margin: 0;
}

.nowrap {
	white-space: nowrap;
}

.ng-cloak {
	display: none;
}

abbr {
	text-transform: none;
}

.map-control {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#E6E6E6));
	border: 1px solid #717B87;
	box-shadow: rgba(0, 0, 0, 0.398438) 0 2px 4px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0 2px 4px;
	color: black;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
	padding: 1px 6px;
}

.none {	
	font-style: italic;
	padding-bottom: 1em;
	padding-left: 1em;
}

header {
	margin-bottom: .5em;
	margin-top: 1.5em;
}

footer {
	color: #999;
	margin-top: 18px;
	padding-bottom: 18px;
}

.page-titlebar {
	margin-bottom: 9px;
}

.page-titlebar > .nav {
	clear: both;
}

.page-title {
	line-height: 27px
}

.page-title > .page-title-decoration {
	vertical-align: middle;
	margin-left: 4px;
}

.page-title > .page-title-text {
	vertical-align: middle;
	font-size: 18px;
	font-weight: bold;
}

.footer-link {
	color: #999;
	font-weight: bold;
}

.caret-inverted {
  border-bottom: 4px solid #000000;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  content: "\2191";
  display: inline-block;
  filter: alpha(opacity=30);
  opacity: .3;
  text-indent: -99999px;
  *text-indent: 0;
  vertical-align: top;
  width: 0;
  height: 0;
}

.caret-active {
  opacity: 1.0;
}

.close-tab {
	float: none;
	line-height: inherit;
}

a.sort {
	color: #333;
}

.table > tbody > tr:hover, span.editable:hover {
	background-color: #f8f8f8;
}

span.editable {
  	display: block;
  	float: left;
	padding: 8px;
	margin: 2px;
	margin-left: 0;
	.border-radius(5px);
}

.action {
	visibility: hidden;
}

tr:hover > td > .action, span:hover > .action {
	visibility: visible;
}

.align-right {
	text-align: right;
}

.b {
	font-weight: bold; 
}

.hero-unit {
	margin-bottom: 0;
}

.control-group {
	margin-top: 9px;
}

input.ng-invalid.ng-dirty {
  color: #b94a48;
  border-color: #ee5f5b;
}

input.ng-invalid.ng-dirty:focus {
  border-color: #e9322d;
  box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
}

.tab-content {
	overflow: hidden; /* prevents scrollbar in timeline widget */	
}

#create-event-preview {
	padding-top: 1em;
}

#create-location-map {
  height: 200px
}

#create-location-map img {
  max-width: none;
}

.tooltip {
	padding: 4px; /* reduced from the default 5px to prevent a gap between the tooltip and the tooltip arrow */
}

.modal {
	z-index: 20; /* allows typeahead to show in modal dialog */
}

.modal-backdrop {
	z-index: 10; /* allows typeahead to show in modal dialog */
}​

@media (max-width: 767px) {
	.hero-unit {
		padding: 24px;
	}
	.hero-unit > h1 { /* downsize to h2 */
		font-size: 24px;
		line-height: @baseLineHeight * 2;
	}
}

#api h2 {
	margin-top: 40px;	
}

#api h3 {
	margin-top: 20px;	
}
