#{extends 'main.html' /}
#{set title:bucket /}

<div class="container-fluid">

	<h3>${bucket}</h3>

	<div class="row-fluid">
		<div class="span6">
			<table class="table">
				<thead>
					<tr>
						<th>Latest</th>
					</tr>
				</thead>
				<tbody>
					#{list items:result.events, as:'event'}
						<tr>
							<td>
								#{zeno.fields value:event /}
								<i class="icon-user" title="user"></i>&nbsp;${bucket.user}</i>
								<div class="pull-right">
									<a href="/${bucket.id}/${event.id}">&raquo;</a>
								</div>
							</td>
						</tr>
					#{/list}
				</tbody>
			</table>
		</div>
		<div class="span6">
			#{tags items:result.getResult('TagWidget') /}

			#{ratings items:result.getResult('RatingWidget') /}

			#{form @post(bucket.id)}
				<label for="template">Template</label>
				<div class="input">
					#{select 'type', id:'template', value:flash.type}
						#{option 0}#{/option}
						#{option 1}Lunch#{/option}
						#{option 2}Sleep#{/option}
						#{option 3}Movie#{/option}
						#{option 4}Hike#{/option}
						#{option 5}Random!#{/option}
					#{/select}
				</div>
				<fieldset class="control-group ${errors.forKey('content') ? 'error' : ''}">
					<label for="label">Content</label>
					<div id="label-field" class="input">
						<textarea rows="6" id="content" name="content" class="span10">${flash.content}</textarea>
						<span class="help-inline">#{error 'content' /}</span>
					</div>
				</fieldset>
				<div class="form-actions">
					<button class="btn btn-primary" type="submit">Add</button>
				</div>
			#{/form}    
			<script type="text/javascript">
				var examples = [
					undefined,
					{
						"tag" : [ "lunch", "pizza" ],
						"dateTime" : "2012-02-01T12:10:00.000-08:00",
						"location" : {
							"latitude" : 47.62,
							"longitude" : -122.35
						},
						"rating" : 80
					},
					{
						"tag" : [ "sleep" ],
						"dateTime" : "2012-02-01T07:30:00.000-08:00"
					},
					{
						"tag" : [ "movie" ],
						"dateTime" : "2012-02-01T20:15:00.000-08:00",
						"rating" : 40,
						"resource" : {
							"title" : "Citizen Kane",
							"url" : "http://www.imdb.com/title/tt0033467/"
						}
					},
					{
						"tag" : [ "hike" ],
						"dateTime" : "2012-02-01T07:30:00.000-08:00",
						"location" : {
							"latitude" : 60.57,
							"longitude" : -151.25
						},
						"length" : 10000.0,
						"height" : 550.0
					},
					{
						"random" : 1000
					}
				]
				$("#template").change(function(x) {
					console.log($(this).val());
					$("#content").val(JSON.stringify(examples[$(this).val()], null, 2));
				});
			</script>
		</div>
	</div>

</div>
