#{extends 'main.html' /}
#{set title:'Zenobase' /}

<div class="container-fluid">

	<h3>Dashboard</h3>

	<div class="row-fluid">
		<div class="span6">
			<table class="table">
				<thead>
					<tr>
						<th>What</th>
						<th>When</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					#{list items:history, as:'command'}
						<tr>
							<td>
								<i class="icon-user"></i> <b>${command.user}</b>
								${command}
							</td>
							<td>
								#{zeno.prettyTime value:command.timestamp /}
							</td>
							<td style="text-align: right">
								#{a @QueueController.post(command.id)}<i class="icon-share-alt" title="Undo"></i>#{/a}
							</td>
						</tr>
					#{/list}
				</tbody>
			</table>
			<div class="btn-toolbar">
				<div class="btn-group pull-right">
					<a class="btn disabled" href="#" title="Previous"><i class="icon-chevron-left"></i></a>
					<a class="btn" href="#" title="Next"><i class="icon-chevron-right"></i></a>
				</div>
				<div class="btn-group pull-right">
					<a class="btn disabled zeno-paging"><b>1</b> &ndash; <b>10</b> of <b>10023</b></a>
				</div>
			</div>
		</div>
		<div class="span6">
			<table class="table">
				<thead>
					<tr>
						<th>Bucket</th>
						<th>Role</th>
						<th style="text-align: right">Size</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					#{list items:buckets, as:'bucket'}
						<tr>
							<td><a href="/${bucket.id}/">${bucket}</a></td>
							<td>${bucket.user} (${bucket.role})</td>
							<td style="text-align: right">${bucket.size}</td>
							<td style="text-align: right">
								<a href="/${bucket.id}/?x-http-method-override=DELETE" title="Delete"><i class="icon-trash"></i></a>
							</td>
						</tr>
					#{/list}
				</tbody>
			</table>
			<div class="btn-toolbar">
				<div class="btn-group">
					<a class="btn" data-toggle="modal" href="#createBucketDialog"><i class="icon-plus" title="Create"></i></a>
				</div>
				<div class="btn-group pull-right">
					<a class="btn disabled" href="#" title="Previous"><i class="icon-chevron-left"></i></a>
					<a class="btn disabled" href="#" title="Next"><i class="icon-chevron-right"></i></a>
				</div>
				<div class="btn-group pull-right">
					<a class="btn disabled zeno-paging"><b>1</b> &ndash; <b>1</b> of <b>1</b></a>
				</div>
			</div>
			<div id="createBucketDialog" class="modal hide">
				#{form @post()}
						<div class="modal-header">
							<a class="close" data-dismiss="modal">&times;</a>
							<h3>Enter a label for the new bucket</h3>
						</div>
						<div class="modal-body">
							<input id="label" name="label" type="text" value="" class="xlarge"/>
						</div>
						<div class="modal-footer">
							<input class="btn btn-primary" type="submit" value="Create"/>
							<a href="#" class="btn" onclick="$('#createBucketDialog').modal('hide');">Cancel</a>
						</div>
				#{/form}    
			</div>
		</div>
	</div>

</div>
