#{extends 'main.html' /}
#{set title:'Zenobase' /}

<div class="container-fluid">

	<div class="hero-unit">
		<h1>Your Data</h1>
		<p>Use it or loose it.</p>
		<p><a class="btn primary large">Learn more &raquo;</a></p>
	</div>
	
	<div class="row-fluid">
	
		<div class="span-one-third">
			<h2>Collect</h2>
			<p>...</p>
			<p><a class="btn" href="#">View details &raquo;</a></p>
		</div>
	
		<div class="span-one-third">
			<h2>Analyze</h2>
			<p>...</p>
			<p><a class="btn" href="#">View details &raquo;</a></p>
		</div>
	
		<div class="span-one-third">
			<h2>Share</h2>
			<p>...</p>
			<p><a class="btn" href="#">View details &raquo;</a></p>
		</div>
	
	</div>

</div>
	